<div class="content">
	<!--Listing Page-->
	<span class="page-listing">
			<div class="contain">
				<!-- <ol class="breadcrumb hide-sm">
				  <li><a [routerLink]="['']">Home</a></li>
				  <li><a [routerLink]="['']">Category</a></li>
				  <li class="active">{{ listing.name  }}</li>
				</ol> -->
				<div class="listing-container">
					<div class="filter bg-white inline pull-left" style="display:none;">
						<div class="header">
							<strong class="pull-left">Filter by</strong>
							<button type="button" class="close pull-right hide-lg" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="price filter-section"  *ngFor='let key of filters|keys'>
							<div class="head" data-toggle="collapse" [attr.data-target]="getDataTarget(key)" aria-expanded="false" [attr.aria-controls]="getAriaControl(key)">
								<span>{{ key.toUpperCase() }}</span>
								<span class="glyphicon glyphicon glyphicon-menu-down pull-right hide-lg"></span>
							</div>
							<input type="text" class="form-control input-box search-filter"
										 name="Search" placeholder="Search"  [value]="sliderValue"
                     (input)="sliderValue = $event.target.value" />
							<div *ngIf="key != 'color' " class="filter-section-options collapse" [attr.id]="getAriaControl(key)">
								<div class="filter-section-option" *ngFor="let data of filters[key]">
									<input type="checkbox" aria-label="...">
									<span class="option-text">{{data}}</span>
								</div>
							</div>
							<div *ngIf="key == 'color'" class="filter-section-options collapse" [attr.id]="getAriaControl(key)">
								<div class="color-box-filter"
										 *ngFor="let data of filters[key]"
										 [style.background-color]="data"></div>
							</div>
						</div>
						<div class="apply-filters hide-lg">
							<button class="btn btn-default flat-btn filter-btn" (click)="clearAllFilters()">CLEAR ALL</button>
							<button class="btn btn-green flat-btn filter-btn" (click)="applyFilters()">APPLY</button>
						</div>
					</div>
					<div class="listing bg-white inline">
						<div class="header mob-section-heading">
							<span class="pull-left"><strong>{{ listing?.name }}</strong></span>
							<!--span class="pull-right sort hide-sm">
								<div class="sort-header">Sort by</div>
								<div class="sort-select">Popularity <span class="caret"></span></div>
							</span-->
							<div class="dropdown pull-right sort hide-sm text-left">
							  	<button class="text-left btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    	<div class="sort-header text-left">Sort by</div>
										<div class="sort-select text-left">{{ selectedSort.name }} <span class="caret"></span></div>
							  	</button>
							  	<ul class="dropdown-menu" (click)="setSort($event)" aria-labelledby="dropdownMenu1">
							    	<li><a href="#" data-key="relevance" data-value="Popular">Popularity</a></li>
							    	<li><a href="#" data-key="newestSort" data-value="Newest First">Latest</a></li>
							    	<li><a href="#" data-key="priceOrder" data-value="High to Low">Price: High to Low</a></li>
							    	<li><a href="#" data-key="priceOrder" data-value="Low to High">Price: Low to High</a></li>
							  	</ul>
							</div>
							<div class="listing-page-count pull-left">
								Showing <span>{{ getStartListingCount() }}</span>-<span>{{ getEndListingCount() }}</span> of <span>{{ listing?.total_count }}</span></div>
						</div>
						<div class="products">

							<div class="applied-filters hide-sm">
								<div *ngFor="let appliedFilter of appliedFilters" class="applied-filter">
									{{ appliedFilter.name }}
									<button  (click)="removeFilter(appliedFilter, $event)" type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							</div>

							<cvi-product-card *ngFor="let listingProduct of listing?.results"
																[product]="listingProduct"
																[showSizeInfo]="!(!0)">
							</cvi-product-card>

						</div>
						<cvi-pagination
						   [totalPages]="listing?.total_pages"
						   [currentPage]="listing?.current_page"
						   [maxSize]="5">
						 </cvi-pagination>
					</div>
				</div>
			</div>
			<div class="sort-filter hide-lg">
				<div class="sort" data-toggle="modal" data-target="#sortModal">
					<span class="glyphicon glyphicon-sort sort-filter-icon"></span>
					<div class="sort-filter-text">
						<div class="sort-filter-header">Sort</div>
						<div class="sort-filter-status">{{ selectedSort }}</div>
					</div>
				</div>
				<span class="separator"></span>
				<div class="filter">
					<span class="glyphicon glyphicon-filter sort-filter-icon"></span>
					<div class="sort-filter-text">
						<div class="sort-filter-header">Filter</div>
						<div class="sort-filter-status">{{ getAppliedFiltersString() }}</div>
					</div>
				</div>
			</div>
		</span>
</div>
<div class="modal fade hide-lg" tabindex="-1" role="dialog" id="sortModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body text-center">
				<ul (click)="setSort($event)">
					<li><a href="#" data-key="relevance" data-value="Popular">Popularity</a></li>
					<hr>
					<li><a href="#" data-key="newestSort" data-value="Newest First">Latest</a></li>
					<hr>
					<li><a href="#" data-key="priceOrder" data-value="High to Low">Price: High to Low</a></li>
					<hr>
					<li><a href="#" data-key="priceOrder" data-value="Low to High">Price: Low to High</a></li>
				</ul>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
