<span id="listing-page">
	<div class="section-listing">
		<div class="box-header">
			<span class="pull-left box-header-text listing-category-name"><strong>LISTINGS</strong></span>
		</div>
		<div class="listing-box-body">
			<div *ngFor="let listing of listings | async" class="listing-product">
				<img src="{{listing.image}}" class="listing-product-img img-responsive">
				<div class="listing-product-name">{{listing.name}}</div>
				<!-- <div class="listing-product-price-container">
					<span class="discount-price">$80</span>
					<span class="actual-price"><s>$100</s></span>
					<span class="discount text-uppercase text-success"><strong>20% Off</strong></span>
				</div> -->
			</div>
		</div>
	</div>
	<div class="sort-filter">
		<div class="sort">
			<span class="glyphicon glyphicon-sort sort-filter-icon"></span>
			<div class="sort-filter-text">
				<div class="sort-filter-header">Sort</div>
				<div class="sort-filter-status">Popularity</div>
			</div>
		</div>
		<span class="separator"></span>
		<div class="filter">
			<span class="glyphicon glyphicon-filter sort-filter-icon"></span>
			<div class="sort-filter-text">
				<div class="sort-filter-header">Filter</div>
				<div class="sort-filter-status">Category, size</div>
			</div>
		</div>
	</div>
</span>
