//Common
.bag-container{
	.bag-header{
		height: 50px;
    	line-height: 50px;
    	color: $font-light;
   		.heading{
   			font-size: $font-xl;
    		font-weight: bold;
   		}
	}
	.bag-item{
		position:relative;
		border: $border;
		padding: 2%;
		margin-bottom:20px;
		.break{
			height: 10px;
		}
	}
	.delete-bag-item{
		position: absolute;
		top: 5px;
		right: 10px;
	}
}
//Desktop
@media only screen  and (min-width : 1050px) {
	.bag-container{
		width: 74%;
		margin-right: 1%;
   		padding: 0px 20px;
		.bag-item-img{
			width: 18%;
	    	margin-right: 2%;
	    	cursor:pointer;
		}
		.bag-item-info{
			width: 76%;
			.cart-spec{
				margin-right: 12%;
			}
			.bag-item-stitch-cost{
				height: 26px;
			}
		}
		.cart-item-action{
			.action-item{
				color: #b6b6b6;
				margin-right:15px;
			}
		}
	}
}


//Mobile
@media only screen  and (max-width : 1050px) {
	.bag-container{
		margin-right:0;
		width: 100%;
		padding: 0% 2%;
		.bag-item{
			float:left;
			margin-bottom: 2%;
			.break{
				height:0;
			}
		}
		.bag-item-img{
			width: 35%;
	    	margin-right: 2%;
		}
		.bag-item-info{
			width: 59%;
			float: left;
			.cart-spec{
				margin: 0;
		    	float: left;
		    	margin-right: 10px;
			}
			.cart-spec-header{
				display: inline-block;
			}
			.cart-spec-value{
				display: inline-block;
			}
			.bag-item-specs{
				margin: 10px 0px;
			}
			.bag-item-name{
				@include ellipsis();
			}
			.bag-item-stitch-cost{
				width: 100%;
    			float: left;
    			margin-top: 10px;
			}
		}
		hr{
			margin-bottom:10px;
		}
		.cart-item-action{
			.action-item{
				margin-right: 10px;
			}
		}
	}
}

