.payment-header{
	margin: 2% 2% 0% 2%;
	.change{
		font-size: $small-font;
		color:$link-color;
	}
}
.payment-icon{
	width: 40%;
}
.review-order{
	.review-order-img{
		width: 35%;
		padding: 2%;
		border: $section-border;
	}
	.review-order-info{
		vertical-align: top;
		width: 63%;
	}
	.product-name{
		@include ellipsis();
	}
}