<div class="content wishlist-page">
    <div class="contain">
        <div class="page-heading text-center static-page-heading">
          <h1>Shipping And Refunds</h1>
        </div>
        <div class="page-content bg-white static-page-content">
            <h3>Easy Refunds and Returns</h3>
            <ul>
                <b>Easy Return:</b>
                <p>
                  We have a 100% Buyer protection policy wherein you can return the product for any of the below reasons:
                </p>
                <ol>
                  <li>Received a wrong size to what was ordered</li>
                  <li>Received the wrong product</li>
                  <li>Received a damaged product</li>
                  <li>Package missing product components</li>
                </ol>
                <b>Return Process:</b>
                <p>
                  Just email us your complaint with a picture of the received product within 5 days of receipt of the product. 
                </p>
                <p>
                  Our customer care will reach out to solve your particular case. 
                </p>
                <b>Refund:</b>
                <p>
                  If you wish, we can offer you a redeemable voucher worth the refund amount for future purchases. Else we can also refund the entire refund amount back to your bank account without any deductions along.
                </p>
            </ul>
            <h3>100% Secure Payments</h3>
            <ul>
                <b>Payment Modes:</b>
                <p>Net Banking, Debit cards/ Credit Cards (Visa, MasterCard, American Express, Diners Club cards accepted)</p>
                <p>International Credit Cards</p>
                <b>Payment Details:</b>
                <p>Immediately after you make a purchase, an invoice with your payment details and a unique payment ID will be sent to you. In case of any issues, our customer care would be happy to help you.</p>
                <b>Payment Security:</b>
                <p>You pay through our secured Payment Gateway and all data is transferred through high level encryption technology. We guarantee your payments are 100% safe with us and the details are never shared with anyone during the payment process.</p>
            </ul>
        </div>
    </div>
</div>
