<div class="content">
  <div class="menu-slider-container occupy clearfix">
    <div class="contain">
      <cvi-mega-menu></cvi-mega-menu>
      <cvi-hero-banner [header]="heroBannerData.title" [dataItems]="heroBannerData.data" class="home-carousel" ></cvi-hero-banner>
      <cvi-extra-menu [header]="extraMenuData.title" [dataItems]="extraMenuData.data?.slice(0,3)" ></cvi-extra-menu>
    </div>
  </div>
	<div class="occupy mob-section text-center mob-bg-white trust-section hide-lg">
		<img src="http://assetsintl.craftsvilla.com/cvintlfe/assets/images/shield_icon.png">
		<span><strong>100% Buyer Protection</strong> <span class="dark-link">Learn more</span></span>
	</div>
	<cvi-announcement-widget [header]="annoucementWidgetData.title" [dataItems]="annoucementWidgetData.data"></cvi-announcement-widget>
	<div #content></div>
</div>
