.annoucement-mobile-image{
	display: none;
}

@media only screen and (max-width: 480px){
	.annoucement-mobile-image{
		display: block;
		width: 100%;
	}
	.annoucement-web-image{
		display: none;
	}

}
.annoucement-data{
	padding: 5px;
}