.header-phone {
	font-size: 17px;
	line-height: 23px;
	vertical-align: middle;
	color: #981937;
}

.cvi-header-fixed{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 101;
}

.buyer-popup-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 102;
}

.buyer-protection-popup{
	position: absolute;
    width: 500px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    padding: 20px;
    border-radius: 5px;
}

.buyer-protection{
	cursor: pointer;
}

.close-buyer-popup{
	cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.7;
}

.close-buyer-popup:hover{
	opacity: 1;
}

.mega-menu-hamburger {
  display: inline-block;
  width: 50px;
  height: 80px;
  border-radius: 1.9px;
  text-align: center;
  cursor: pointer;
  z-index: 100;
  border-bottom: none;
  /*border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;*/
}

.mega-menu-hamburger.hovered {
  background-color: #a5002f;
}

.mega-menu-hamburger.hovered span {
  color: #fff;
}

.mega-menu-hamburger span {
  font-size: 16px;
  color: #a5002f;
  vertical-align: text-top;
}

.menu-overlay-div {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

.menu-slider-container {
  margin-top: 0px;
  top: 110px;
  width: 100%;
  height: 100%;
  z-index: 23300;
  position: fixed;
}
.homepage-logo{
  width: 19%;
}

.homepage-search{
  width: 65%;
}
.change-slider-top{
  top: 80px;
}
@media only screen and (max-width: 1050px) {
  .homepage-logo{
    width: 50%;
  }
  .homepage-search{
    width: 100%;
  }
}

.navmenu-default {
  background-color: #f3f4f6;
}

.navmenu-default .navmenu-brand:hover {
  background: #981937;
  color: #fff;
}

.navmenu-brand {
  text-align: left;
  background: #981937;
  color: #fff;
  font-size: 20px;
  padding: 12px;
  display: block;
  text-transform: capitalize;
  margin: 0px;
}

.selected-menu-title {
  background: #e34141;
  color: #fff;
  border-bottom: 0;
  text-align: center;
  font-size: 20px;
  padding: 12px;
  letter-spacing: 2px;
  display: block;
  text-transform: capitalize;
  margin: 0px;
  text-decoration: none;
}

.navmenu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: #000;
  top: 0;
  left: 0;
}

.mobile-nav {
  display: block;
  color: #000;
  border-bottom: 1px solid #adaeaf;
  position: relative;
}

.mobile-nav a {
  color: inherit;
  text-decoration: none;
  padding: 15px;
  display: block;
  cursor: pointer;
}

.ico-arrow {
  position: absolute;
  right: 20px;
  padding: 0;
  margin: 0;
}

.ico-arrow-back {
  position: absolute;
  left: 10px;
  padding: 0;
  margin: 0;
}

.nav-level-3 {
  margin-left: 30px;
  padding-left: 0;
  color: #555;
  border-bottom: 1px dotted #adaeaf;
}

.navmenu-default .navmenu-nav>.open>a, .navmenu-default .navmenu-nav>.open>a:hover {
  background-color: #f3f3f3;
  color: inherit;
}

.navmenu-default .navmenu-nav.dropdown-menu {
  background-color: #fff;
}
a.navmenu-brand .ico-arrow {
    right: 5px;
    top: 7px;
}
img.top-menu-phone {
  width: 18px;
}
img.main-search-icon, img.mega-menu-hamburger-icon {
  width: 20px;
}
img.mobile-nav-close-icon {
  width: 30px;
  position: relative;
  background: #fff;
  cursor: pointer;
}
img.arrow-left-ico {
  width: 20px;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
img.arrow-back-ico {
  width: 30px;
}
img.plus-ico {
  width: 25px;
}