.header-phone {
	font-size: 17px;
	line-height: 23px;
	vertical-align: middle;
	color: #981937;
}

.cvi-header-fixed{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 101;
}

.buyer-popup-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 102;
}

.buyer-protection-popup{
	position: absolute;
    width: 500px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    padding: 20px;
    border-radius: 5px;
}

.buyer-protection{
	cursor: pointer;
}

.close-buyer-popup{
	cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.7;
}

.close-buyer-popup:hover{
	opacity: 1;
}

.mega-menu-hamburger {
  display: inline-block;
  width: 50px;
  height: 80px;
  border-radius: 1.9px;
  text-align: center;
  cursor: pointer;
  z-index: 100;
  border-bottom: none;
}

.mega-menu-hamburger.hovered {
  background-color: #a5002f;
}

.mega-menu-hamburger.hovered span {
  color: #fff;
}

.mega-menu-hamburger span {
  font-size: 16px;
  color: #a5002f;
  vertical-align: text-top;
}

.menu-overlay-div {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

.menu-slider-container {
  margin-top: 0px;
  top: 110px;
  width: 100%;
  height: 100%;
  z-index: 23300;
  position: fixed;
}
.homepage-logo{
  width: 19%;
}

.homepage-search{
  width: 65%;
}
.change-slider-top{
  top: 80px;
}
@media only screen and (max-width: 1050px) {
  .homepage-logo{
    width: 60%;
  }
  .homepage-search{
    width: 100%;
  }
}

img.top-menu-phone {
  width: 18px;
}
img.main-search-icon, img.mega-menu-hamburger-icon {
  width: 20px;
}
img.mobile-nav-close-icon {
  width: 25px;
  position: relative;
  background: #fff;
  cursor: pointer;
  margin: 14px;
}
img.arrow-left-ico {
  width: 20px;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  margin: 17px;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
} 
li.menu-list {
  overflow: auto;
  height: 100%;
}
ul.mobile-nav-container {
  font-size: 18px;
  line-height: 3;
  padding: 0;
  list-style: none;
  background: #fff;
  position: fixed;
  top: 0;
  right: auto;
  box-shadow: 5px 0px 7px 0px rgba(0,0,0,0.3);
  bottom: 0;
  width: 20%;
  min-width: 250px;
  height: 100%;
  z-index: 9999;
}
p.mobile-nav-header {
  background: #981937;
  margin: 0;
  color: #fff;
  padding-left: 15px;
}
.mobile-nav-header a {
  color: #fff !important;
  text-decoration: none !important;
}
ul.menu-category {
  padding: 0;
  border-bottom: 1px solid #a9a9a9;
}
ul.menu-category:last-child {
  border-bottom: none;
}
li.menu-category-header {
  list-style: none;
  padding-left: 15px;
  margin: 0;
}
li.menu-category-header p {
  margin: 0;
}
.menu-sub-category-container, .sub-category-list-container{
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  -webkit-transition: height 1s ease;
  transition: max-height 1s ease;
  max-height: 0;
  overflow: hidden;
  height: 0;
}
.category-active, .sub-category-active{
  max-height: 1000px;
  overflow: auto;
  height: 100%;
}
img.arrow-left-ico.icon-active{
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}
.menu-sub-category .menu-category-header {
  padding-left: 40px !important;
  background: #fcfcfc;
  font-size: 16px;
}
.menu-sub-category-data .menu-category-header {
  padding-left: 60px !Important;
  background: #f5f5f5;
  width: 100%;
  font-size: 15px;
  color: #000;
  cursor: pointer;
}
.menu-sub-category-data .menu-category-header:hover {
  color: #000;
  text-decoration: none;
}