<div class="container-fluid category-container clearfix">
	<div class="pull-left filter-section visible-lg visible-md">
		<div class="filters-list price-filter">
			<p class="filter-type">Price</p>
			<div class="filter-list">
				<div class="applied-filter" *ngIf="filterData['price'].applied.length > 0">
					<div *ngFor="let appliedfilter of filterData['price'].applied">
						<div class="filter-box clearfix" (click)="deselectFilter($event,priceFilter, appliedfilter)">
							<p class="filter-checkbox"></p>
							<p class="filter-name">{{appliedfilter['name']}}</p>
						</div>
					</div>
				</div>
				<div class="available-filter" *ngIf="filterData['price'].available.length > 0">
					<div *ngFor="let availablefilter of filterData['price'].available">
						<div class="filter-box clearfix" (click)="selectFilter($event,priceFilter, availablefilter)">
							<p class="filter-checkbox"></p>
							<p class="filter-name">{{availablefilter['name']}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="filters-list" *ngFor="let data of recievedFilter | keyvalue">
			<p class="filter-type">{{data.key}}</p>
			<div class="filter-list" [style.height] = "data.key.toLowerCase() === 'color' ? '145px' : 'auto'">
				<div class="applied-filter" *ngIf="filterData[data.key].applied.length > 0">
					<div *ngFor="let appliedfilter of filterData[data.key].applied">
						<a class="filter-box clearfix" href="{{appliedfilter.url}}" (click)="deselectFilter($event,data, appliedfilter)" [style.background-color] = "data.key.toLowerCase() === 'color' ? appliedfilter['name'] : 'transparent'" [ngClass]="{'color-filter' : data.key.toLowerCase() === 'color', 'multicolor-filter' : appliedfilter['name'].toLowerCase() === 'multicolor', 'pastelcolor-filter' : appliedfilter['name'].toLowerCase() === 'pastel', 'whitecolor-filter' : appliedfilter['name'].toLowerCase() === 'white'}">
							<p class="filter-checkbox"></p>
							<p class="filter-name" [ngClass]="{'hidden' : data.key.toLowerCase() === 'color'}	">{{appliedfilter['name']}}</p>
							<div class="color-tooltip" *ngIf="data.key.toLowerCase() === 'color'">{{appliedfilter['name']}}</div>
						</a>
					</div>
				</div>
				<div class="available-filter" *ngIf="filterData[data.key].available.length > 0">
					<div *ngFor="let availablefilter of filterData[data.key].available">
						<a class="filter-box clearfix" href="{{availablefilter.url}}" (click)="selectFilter($event,data, availablefilter)" [style.background-color] = "data.key.toLowerCase() === 'color' ? availablefilter['name'] : 'transparent'" [ngClass]="{'color-filter' : data.key.toLowerCase() === 'color', 'multicolor-filter' : availablefilter['name'].toLowerCase() === 'multicolor', 'pastelcolor-filter' : availablefilter['name'].toLowerCase() === 'pastel', 'whitecolor-filter' : availablefilter['name'].toLowerCase() === 'white'}">
							<p class="filter-checkbox"></p>
							<p class="filter-name" [ngClass]="{'hidden' : data.key.toLowerCase() === 'color'}">{{availablefilter['name']}}</p>
							<div class="color-tooltip" *ngIf="data.key.toLowerCase() === 'color'">{{availablefilter['name']}}</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pull-left products-section">
		<div class="navigation-breadcrumbs clearfix visible-lg visible-md" *ngIf="pageBreadcrumbs.length > 0">
			<div class="breadcrumb-list pull-left" *ngFor="let breadcrumb of pageBreadcrumbs; let i = index">
				<a routerLink="{{breadcrumb.link}}" (click)="breadcrumbClick(i)">{{breadcrumb.name}}</a>
			</div>
		</div>
		<div class="products-header clearfix">
			<div class="product-name-count pull-left">
				<span class="product-name">{{pageBreadcrumbs[pageBreadcrumbs.length - 1].name}}</span>
				<small class="products-count">Showing {{resultCountObj['startCount']}} to {{resultCountObj['endCount']}} of {{resultCountObj['totalCount']}} Products</small>
			</div>
			<div class="sorting-type visible-lg visible-md">
				<span class="sort-heading pull-left">Sort:</span>
				<div class="sort-name pull-left" *ngFor="let sort of sortType">
					<span class="sort-type" *ngIf="sort.name">{{sort.name}}</span>
					<span *ngFor="let data of sort.data" [ngClass]="{'sort-active': selectedSort.name === data.name}" (click)="selectSort(data)" class="sort-data">{{data.name}}</span>
				</div>
			</div>
		</div>
		<div class="applied-filter-container clearfix visible-lg visible-md" *ngIf="appliedFilter.length > 0">
			<div class="applied-filter-list pull-left" *ngIf="filterData['price'].applied.length > 0">
				<span *ngFor="let appliedfilter of filterData['price'].applied" class="selected-filter" (click)="deselectFilter($event,priceFilter, appliedfilter)">{{appliedfilter['name']}}</span>
			</div>
			<div class="applied-filter-list pull-left" *ngFor="let data of recievedFilter | keyvalue">
				<span *ngFor="let appliedfilter of filterData[data.key].applied" class="selected-filter" (click)="deselectFilter($event,data, appliedfilter)">{{appliedfilter['name']}}</span>
			</div>
			<span class="clear-filters selected-filter" (click)="clearFilters()">Clear All</span>
		</div>
		<div class="products-data clearfix">
			<cvi-product-card *ngFor="let listingProduct of listingProducts?.results" [product]="listingProduct"></cvi-product-card>
		</div>
		<cvi-pagination [totalPages]="listingProducts.total_pages" [currentPage]="listingProducts.current_page" [maxSize]="3" (pageChange)="onPageChange($event)"></cvi-pagination>
	</div>
	<div class="responsive-sort-filters-block visible-sm visible-xs">
		<div class="sort-button col-xs-6" (click)="showMobileSort = true">
			<img src="http://assetsintl.craftsvilla.com/cvintlfe/assets/images/sort.svg" class="sort-ico pull-left">
			<div class="sort-filter-text pull-left">
				<div class="sort-filter-header">Sort</div>
				<p class="sort-filter-status">{{ selectedSort.mobName }}</p>
			</div>
		</div>
		<div class="filter-button col-xs-6" (click)="showMobileFilter = true">
			<img src="http://assetsintl.craftsvilla.com/cvintlfe/assets/images/filter.svg" class="filter-ico pull-left">
			<div class="sort-filter-text pull-left col-xs-9">
				<div class="sort-filter-header">Filter</div>
				<p class="sort-filter-status">{{ appliedFilter['name'] }}</p>
			</div>
		</div>
	</div>
	<div class="sort-container responsive-sort-filter-container visible-sm visible-xs" *ngIf="showMobileSort">
		<div class="sort-filter-container-heading clearfix">
			<p class="container-header-text pull-left">Sort By</p>
			<div class="container-close-button pull-right" (click)="showMobileSort = false">
				<img src="http://assetsintl.craftsvilla.com/cvintlfe/assets/images/multiply.svg" class="container-close-icon">
			</div>
		</div>
		<div class="sort-filter-container-body">
			<div class="sort-list" *ngFor="let sort of sortType">
				<span *ngFor="let data of sort.data" [ngClass]="{'sort-active': selectedSort.name === data.name}" (click)="selectSort(data);showMobileSort = false" class="sort-data">{{data.mobName}}</span>
			</div>
		</div>
	</div>
	<div class="filter-container responsive-sort-filter-container visible-sm visible-xs" *ngIf="showMobileFilter">
		<div class="sort-filter-container-heading clearfix">
			<div class="filter-back-responsive pull-left" *ngIf="filterSubCategory" (click)="filterSubCategory=false">
				<img src="http://assetsintl.craftsvilla.com/cvintlfe/assets/images/back_arrow.svg" class="arrow-back-ico">
			</div>
			<p class="container-header-text pull-left" *ngIf="!filterSubCategory">Filter By</p>
			<p class="container-header-text pull-left" *ngIf="filterSubCategory">{{selectedFilterCategory.key}}</p>
			<div class="container-close-button pull-right" (click)="showMobileFilter=false;filterSubCategory=false">
				<img src="http://assetsintl.craftsvilla.com/cvintlfe/assets/images/multiply.svg" class="container-close-icon">
			</div>
		</div>
		<div class="mobile-filter-keys" *ngIf="!filterSubCategory">
			<div class="filters-list" (click)="selectFilterType(priceFilter)">
				<p class="filter-type">{{priceFilter.key}}</p>
				<div class="applied-filter clearfix" *ngIf="filterData[priceFilter.key].applied.length > 0">
					<small class="filter-name pull-left" *ngFor="let appliedfilter of filterData[priceFilter.key].applied">{{appliedfilter['name']}}</small>
				</div>
			</div>
			<div class="filters-list" *ngFor="let data of recievedFilter | keyvalue" (click)="selectFilterType(data)">
				<p class="filter-type">{{data.key}}</p>
				<div class="applied-filter clearfix" *ngIf="filterData[data.key].applied.length > 0">
					<small class="filter-name pull-left" *ngFor="let appliedfilter of filterData[data.key].applied">{{appliedfilter['name']}}</small>
				</div>
			</div>
		</div>
		<div class="mobile-filter-values"  *ngIf="filterSubCategory">
			<div *ngIf="selectedFilterCategory.key === 'price'">
				<div class="applied-filter" *ngIf="filterData['price'].applied.length > 0">
					<div *ngFor="let appliedfilter of filterData['price'].applied">
						<div class="filter-box clearfix" (click)="deselectFiltersMobile($event,priceFilter, appliedfilter)">
							<p class="filter-checkbox"></p>
							<p class="filter-name">{{appliedfilter['name']}}</p>
						</div>
					</div>
				</div>
				<div class="available-filter" *ngIf="filterData['price'].available.length > 0">
					<div *ngFor="let availablefilter of filterData['price'].available">
						<div class="filter-box clearfix" (click)="selectFiltersMobile($event,priceFilter, availablefilter)">
							<p class="filter-checkbox"></p>
							<p class="filter-name">{{availablefilter['name']}}</p>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="selectedFilterCategory.key !== 'price'">
				<div class="applied-filter" *ngIf="filterData[selectedFilterCategory.key].applied.length > 0">
					<div *ngFor="let appliedfilter of filterData[selectedFilterCategory.key].applied">
						<a class="filter-box clearfix" href="{{appliedfilter.url}}" (click)="deselectFiltersMobile($event,selectedFilterCategory, appliedfilter)">
							<p class="filter-checkbox pull-left"></p>
							<div class="pull-left" [style.background-color] = "selectedFilterCategory.key.toLowerCase() === 'color' ? appliedfilter : 'transparent'" [ngClass]="{'color-filter' : selectedFilterCategory.key.toLowerCase() === 'color', 'multicolor-filter' : appliedfilter['name'].toLowerCase() === 'multicolor', 'pastelcolor-filter' : appliedfilter['name'].toLowerCase() === 'pastel', 'whitecolor-filter' : appliedfilter['name'].toLowerCase() === 'white'}"></div>
							<p class="filter-name pull-left">{{appliedfilter['name']}}</p>
						</a>
					</div>
				</div>
				<div class="available-filter" *ngIf="filterData[selectedFilterCategory.key].available.length > 0">
					<div *ngFor="let availablefilter of filterData[selectedFilterCategory.key].available">
						<a class="filter-box clearfix" href="{{availablefilter.url}}" (click)="selectFiltersMobile($event,selectedFilterCategory, availablefilter)">
							<p class="filter-checkbox pull-left"></p>
							<div class="pull-left" [style.background-color] = "selectedFilterCategory.key.toLowerCase() === 'color' ? availablefilter['name'] : 'transparent'" [ngClass]="{'color-filter' : selectedFilterCategory.key.toLowerCase() === 'color', 'multicolor-filter' : availablefilter['name'].toLowerCase() === 'multicolor', 'pastelcolor-filter' : availablefilter['name'].toLowerCase() === 'pastel', 'whitecolor-filter' : availablefilter['name'].toLowerCase() === 'white'}"></div>
							<p class="filter-name pull-left">{{availablefilter['name']}}</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="apply-clear-block">
			<div class="clear-button col-xs-5 text-center" (click)="clearFilters();showMobileFilter=false;filterSubCategory=false">Clear All</div>
			<div class="apply-button col-xs-5 text-center pull-right" (click)="applyMobileFilters();showMobileFilter=false;filterSubCategory=false">Apply</div>
		</div>
	</div>
</div>