.category-container{
    padding: 15px 2%;
    max-width: 1500px;
}
.filter-section{
	background: #fff;
    margin-right: 2%;
    padding: 0;
    width: 18%;
    position: relative;
    margin-top: 23px;
    padding-bottom: 15px;
}
.filter-type {
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 15px 5px 15px;
    margin: 0;
}
.filter-list {
    max-height: 150px;
    overflow-y: auto;
    padding: 0 15px;
}
.products-section{
    width: 80%;
}
.filter-name{
	float: left;
    margin: 0;
    margin-left: 7px;
    text-transform: capitalize;
    width: 80%;
}
.filter-box{
	cursor: pointer;
    position: relative;
}
.filter-checkbox{
	background-image: url(http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015/img/check_new.png) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    width: 15px !important;
    height: 15px !important;
    margin-right: 5px;
    border-radius: 3px;
    float: left;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid;
    background-size: 12px 9px;
}
.filter-box:hover .filter-checkbox, .applied-filter .filter-checkbox {
    opacity: 1;
    background: #981937;
    border: none;
}
.color-filter:hover .filter-checkbox, .applied-filter .color-filter .filter-checkbox{
    opacity: 1;
    background: transparent;
    border: none;	
}
.color-filter {
    float: left;
    width: 31px;
    margin: 8px 10px 0 0;
    position: relative;
    height: 20px;
    border-radius: 3px;
}
.color-filter .filter-checkbox{
	background: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	-webkit-transform: translate3d(-50%,-50%,0);
	-ms-transform: translate3d(-50%,-50%,0);
	-o-transform: translate3d(-50%,-50%,0);
	-moz-transform: translate3d(-50%,-50%,0);
	opacity: 0;
	margin: 0;
}
.applied-filter-container {
    margin: 10px 0;
}
.selected-filter{
    background: #981937;
    color: #fff;
    padding: 6px 24px 6px 6px;
    text-transform: uppercase;
    position: relative;
    margin-right: 5px;
    font-size: 10px;
    cursor: pointer;
}
.selected-filter:hover{
    text-decoration: line-through;
}
.selected-filter:after, .selected-filter:before {
    content: "";
    position: absolute;
    right: 10px;
    content: ' ';
    height: 10px;
    top: 29%;
    width: 2px;
    background-color: #fff;
}
.selected-filter:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.selected-filter:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.navigation-breadcrumbs {
    margin-bottom: 7px;
}
.breadcrumb-list {
    margin-right: 18px;
    text-transform: capitalize;
    position: relative;
}
.breadcrumb-list:last-child {
    pointer-events: none;
    font-weight: 500;
}
.breadcrumb-list:nth-child(2) {
    pointer-events: none;
}
.breadcrumb-list:after {
    content: '';
    margin-left: 5px;
    position: absolute;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    border-top: 1px solid;
    border-right: 1px solid;
    top: 28%;
    right: -10px;
}
.breadcrumb-list:last-child:after {
    content: none;
}
.breadcrumb-list a {
    color: #000 !important;
    text-decoration: none;
}
.breadcrumb-list:hover {
    font-weight: 500;
}
.products-header{
    position: relative;
    background: #fff;
    padding: 10px;
}
.product-name{
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 5px;
    margin: 0;
    display: inline-block;
}
.sorting-type{
    position: absolute;
    right: 0px;
    bottom: 10px;
}
.sort-heading{
    font-size: 12px;
    font-weight: 600;
    margin-right: 5px;
}
.sort-name{
    margin: 0 5px;
    font-size: 12px;
}
.sort-type{
    font-weight: 500;
}
.sort-active, .sort-data:hover {
    color: #981937;
    border-bottom: 1px solid #981937;
}
.sort-data{
    padding: 0 2px;
    cursor: pointer;
}
.products-data{
	background: #fff;
    padding: 10px;
    margin-top: 2px;
}

.responsive-sort-filters-block {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #f4f1eb;
    box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.3);
    left: 0;
    z-index: 2;
}
.sort-button, .filter-button {
    padding: 10px 5px;
    cursor: pointer;
}
.sort-ico, .filter-ico, .container-close-icon, .arrow-back-ico {
    width: 25px;
}
.sort-filter-text {
   	margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0;
}
.sort-filter-status {
    text-transform: capitalize;
    height: 15px !important;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 12px;
}
.sort-filter-header {
    font-size: 16px;
    font-weight: 500;
}
.responsive-sort-filter-container {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 101;
    overflow: scroll;
}
.sort-filter-container-heading {
	background: #981937;
    color: #fff;
    padding: 10px 15px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.container-header-text {
    margin: 0;
    font-size: 18px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
}
.container-close-button {
    background: #fff;
    cursor: pointer;
}
.sort-list .sort-data.sort-active, .sort-list .sort-data:hover {
    font-weight: 600;
    border: none;
}
.sort-list .sort-data {
    font-size: 18px;
    display: block;
    padding: 10px 16px;
}
.mobile-filter-values, .mobile-filter-keys, .sort-filter-container-body {
    position: relative;
    top: 45px;
}
.apply-clear-block {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px 25px;
    border-top: 1px solid;
    z-index: 2;
    background: #fff;
}
.clear-button, .apply-button {
    padding: 6px;
    border: 1px solid;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
.apply-button {
    background: #45ae45;
    color: #fff;
}
.multicolor-filter, .pastelcolor-filter{
    background-color: transparent;
    background-image: url('http://assetsintl.craftsvilla.com/cvintlfe/assets/images/mclr.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.pastelcolor-filter{
    background-image: url('http://assetsintl.craftsvilla.com/cvintlfe/assets/images/pastel.jpg');
}
.whitecolor-filter{
    border: 1px solid;
}
.color-tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 22px;
    left: 50%;
    text-transform: capitalize;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.filter-list .filter-box:hover .color-tooltip{
    visibility: visible;
}
@media (max-width: 992px){
	.filter-section, .products-section{
		width: 100%;
		margin: 0;
	}
	.filter-box{
	    padding: 10px 10px 0px 10px;
	}
    .filter-box-link{
        color: #000;
    }
	.color-filter {
	    margin: 0px 10px 0px 10px;
	}
	.mobile-filter-values .filter-name {
	    margin: 0;
	    font-size: 16px;
	}
	.filters-list {
	    padding: 9px 15px;
	    border-bottom: 1px solid;
	    cursor: pointer;
	}
	.filter-type {
	    font-size: 16px;
	    text-transform: uppercase;
	    margin: 0;
	    padding: 0;
	}
	.filter-name {
	    padding-left: 4px;
	}
	.filter-name:after {
    	content: ',';
	}
	.filter-name:last-child:after {
    	content: '';
	}
	.filter-back-responsive {
	    margin-right: 15px;
	    cursor: pointer;
	}
    small.filter-name {
        width: auto !important;
    }
}

@media (max-width: 500px){
	.products-count{
		display: block;
	}
}