<div class="content">
	<!--Listing Page-->
	<span class="page-listing">
			<div class="contain">
				<div class="listing-container">
					<div class="filter bg-white inline pull-left" [style.display]="showMobileFilters ? 'block': 'none' ">
						<div class="header">
							<strong class="pull-left">Filter by</strong>
							<button type="button" class="close pull-right hide-lg" aria-label="Close" (click)="hideMobileFilters()">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="price filter-section"  *ngFor='let key of filters|keys'>
							<div class="head" data-toggle="collapse" [attr.data-target]="getDataTarget(key)" aria-expanded="false" [attr.aria-controls]="getAriaControl(key)">
								<span>{{ key['key'].toUpperCase() }}</span>
								<span class="glyphicon glyphicon glyphicon-menu-down pull-right hide-lg"></span>
							</div>
							<input *ngIf="key.key == 'fabric' && !showMobileFilters " type="text" class="form-control input-box search-filter"
										 name="Search" placeholder="Search"  [value]="getFilterString(key.key)"
                     (input)="filterString(key.key, $event.target.value)" />
							<div *ngIf="key.key != 'color' " class="filter-section-options collapse" [attr.id]="getAriaControl(key)">
								<div class="filter-section-option" *ngFor="let data of (filters[key.key] | liveFilter: getFilterString(key.key))">
										<input type="checkbox" [attr.checked]="data.checked ? true : null"
													 [attr.id]="data.id" (click)="filterClick($event, data)"
													 aria-label="data.name">
										<span class="option-text">{{ data.name.toUpperCase() }}</span>
								</div>
							</div>
							<div *ngIf="key.key == 'color'" class="filter-section-options sub-menu-color collapse" [attr.id]="getAriaControl(key)">
								<li *ngFor="let data of filters[key.key]">
                    <label title="{{data.name.toUpperCase()}}" data-toggle="tooltip">
                      <input type="checkbox" [attr.checked]="data.checked ? true : null"
														 [attr.id]="data.id" (click)="filterClick($event, data)"
														 value="{{data.name.toLowerCase()}}">
                      <label [attr.for]="data.id" [style.background-color]="data.name"></label>
                      <span>{{ data.name }}</span>
                    </label>
	              </li>
							</div>
						</div>
						<div class="apply-filters hide-lg">
							<button class="btn btn-default flat-btn filter-btn" (click)="clearAllFilters()">CLEAR ALL</button>
							<button class="btn btn-green flat-btn filter-btn" (click)="applyFilters()">APPLY</button>
						</div>
					</div>
					<div class="listing bg-white inline">
						<div class="header mob-section-heading">
							<span class="pull-left"><strong>{{ listing?.name }}</strong></span>
							<!--span class="pull-right sort hide-sm">
								<div class="sort-header">Sort by</div>
								<div class="sort-select">Popularity <span class="caret"></span></div>
							</span-->
							<div class="dropdown pull-right sort hide-sm text-left">
							  	<button class="text-left btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    	<div class="sort-header text-left">Sort by</div>
										<div class="sort-select text-left">{{ selectedSort.name }} <span class="caret"></span></div>
							  	</button>
							  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    	<li *ngFor="let sortObj of sortEntries">
											<a (click)="setSort($event, sortObj.key, sortObj.value)">{{ sortObj.name }}</a>
										</li>
							  	</ul>
							</div>
							<div class="listing-page-count pull-left">
								Showing <span>{{ getStartListingCount() }}</span>-<span>{{ getEndListingCount() }}</span> of <span>{{ listing?.total_count }}</span></div>
						</div>
						<div class="products">

							<div class="applied-filters hide-sm clearfix">
								<div *ngFor="let appliedFilter of appliedFilters" class="applied-filter" [ngClass]="{ 'clear-all' : appliedFilter.id === clearAllBlock.id }">
									{{ appliedFilter.name.toUpperCase() }}
									<button  (click)="filterBlockClick($event, appliedFilter)" type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">x</span>
									</button>
								</div>
							</div>

							<cvi-product-card *ngFor="let listingProduct of listing?.results"
																[product]="listingProduct"
																[showSizeInfo]="!(!0)">
							</cvi-product-card>
							<div class="clearfix"></div>

						</div>
						<cvi-pagination
						   [totalPages]="listing?.total_pages"
						   [currentPage]="listing?.current_page"
						   [maxSize]="3"
							 (pageChange)="onPageChange($event)">
						 </cvi-pagination>
					</div>
				</div>
			</div>
			<div class="sort-filter hide-lg">
				<div class="sort" data-toggle="modal" data-target="#sortModal">
					<span class="glyphicon glyphicon-sort sort-filter-icon"></span>
					<div class="sort-filter-text">
						<div class="sort-filter-header">Sort</div>
						<div class="sort-filter-status">{{ selectedSort.name }}</div>
					</div>
				</div>
				<span class="separator"></span>
				<div class="filter" (click)="toggleMobileFiltersShow(true)">
					<span class="glyphicon glyphicon-filter sort-filter-icon"></span>
					<div class="sort-filter-text">
						<div class="sort-filter-header">Filter</div>
						<div class="sort-filter-status">{{ getAppliedFiltersString() }}</div>
					</div>
				</div>
			</div>
		</span>
</div>
<div class="modal fade hide-lg" tabindex="-1" role="dialog" id="sortModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body text-center">
				<ul class="sort-listing-content">
					<div *ngFor="let sortObj of sortEntries; let i = index;">
						<li data-target="#sortModal" data-toggle="modal">
							<a (click)="setSort($event, sortObj.key, sortObj.value)">{{ sortObj.name }}</a>
						</li>
						<hr *ngIf="i != last">
					</div>
				</ul>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
