.listing-container .filter {
  z-index: 102;
  overflow-y: scroll;
}

.sort-listing-content {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.close {
  font-size: 18px;
  color: #fff;
  opacity: 1;
  line-height: 18px;
  margin: 0 5px;
  font-weight: 400;
}

.clear-all .close {
  color: black;
}
img.right-filter-ico {
  width: 25px;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  margin: 5px;
}
img.filter-ico {
    width: 18px;
}
img.sort-ico {
    width: 20px;
}