<div class="fluid-container sitemap-block clearfix">
  <h4>Womens Fashion</h4>
	<div class="category-list clearfix pull-left" #categoryListBlock>
		<div class="category-container" *ngFor="let category of sitemap">
			<a class="category-link" routerLink="{{category.url}}">{{category.name}}</a>
			<ul class="filter-container" *ngIf="category['filters'].length > 0">
				<li class="filter-list" *ngFor="let filter of category['filters']">
					<a class="filter-link" routerLink="{{filter.url}}">{{filter.name}}</a>
				</li>
			</ul>
		</div>
  	</div>
</div>