<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
  <a class="navmenu-brand" href="#">Categories</a>
  <ul class="nav navmenu-nav" *ngFor="let menuCategoryData of menuCategoriesData">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ menuCategoryData.name }}
        <b class="caret"></b>
      </a>
      <ul *ngFor="let subCategory of menuCategoryData.data" class="dropdown-menu navmenu-nav">
        <li class="inner-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="inner-dropdown">
            {{ subCategory.name }}
            <b class="caret"></b>
          </a>
          <ul class="navmenu-nav dropdown-menu">
            <li *ngFor="let subSubCategory of subCategory.data">
              <a href="#"> {{ subSubCategory.name }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class= "buyer-popup-overlay" *ngIf="showProtectionPopup">
  <div class="buyer-protection-popup">
    <div class="close-buyer-popup pull-right" (click) = "showProtectionPopup = false">X</div>
    <tabs [class]= "tabsWidgetClass">
      <tab [tabTitle]="'Easy Refunds and Returns'">
        <b>Easy Return:</b>
        <p>
          We have a 100% Buyer protection policy wherein you can return the product for any reason whatsoever.
          You can ship it back to us within 7 days and get a full refund
        </p>
        <b>Return Process:</b>
        <p>
          Just email us your complaint with order number within 7 days of receipt of the product.
          You can also login to your account and raise a dispute from there.
          We will pickup up the product from your doorstep if the pincode is serviceable.
          In case we can’t pickup, our team will reply to you with an email, containing instructions and return shipping address to which you need to send back the product within 10 days.
        </p>
        <b>Refund:</b>
        <p>
          If you wish, we can offer you a redeemable voucher worth the refund amount for future purchases.
          Else we can also refund the entire amount back to your bank account without any deductions along.
        </p>
      </tab>
      <tab tabTitle="100% Secure Payments">
        <b>Payment Modes:</b>
        <p>
          Net Banking, Debit cards/ Credit Cards (Visa, MasterCard, American Express, Diners Club cards accepted)
        </p>
        <p>International Credit Cards</p>
        <b>Payment Details:</b>
        <p>
          Immediately after you make a purchase, an invoice with your payment details and a unique payment ID will be sent to you.
          In case of any issues, our customer care would be happy to help you.
        </p>
        <b>Payment Security:</b>
        <p>
          You pay through our secured Payment Gateway and all data is transferred through high level encryption technology.
          We guarantee your payments are 100% safe with us and the details are never shared with anyone during the payment process.
        </p>
      </tab>
    </tabs>
  </div>
</div>
<div class="header cover cvi-header-fixed">
  <div class="top-menu hide-sm" (mouseover)="displayMegaMenu(false)">
    <div class="contain">
      <span class="pull-left">India's Largest Ethnic Destination. Now Shipping Globally.</span>
      <span class="pull-right">
        <span class="top-menu-item buyer-protection" (click) = "showProtectionPopup = true">
          <a><img src="images/shield_icon.png"> 100% Buyer Protection</a>
        </span>
      <span class="top-menu-item"><a href="">Customer Care</a></span>
      <span class="top-menu-item"><a href="">Track Order</a></span>
      <span class="top-menu-item">
          <div class="dropdown inline">
            <img src="images/usa-flag.gif" class="flag"> USD
          </div>
        </span>
      </span>
    </div>
  </div>
  <div class="mid-menu">
    <div class="contain mob-contain">
      <div class="logo inline mob-inline pull-left js-header-menu-show">
        <img src="images/menu_icon.png" class="hide-lg menu-icon navbar-toggle"
             data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <a href="index.html"><img src="images/logo.png" class="logo-img"></a>
        <div *ngIf="showMegaMenuCaret" class="hide-sm mega-menu-hamburger"
              [class.hovered]="showBottomMenu == 'block'"
              (mouseover)="displayMegaMenu(true, $event)"
              (mouseleave)="displayMegaMenu(false, $event)">
        	   <span class="glyphicon glyphicon-menu-hamburger"></span>
         </div>
      </div>
      <div class="search inline pull-left" (mouseover)="displayMegaMenu(false)">
        <div class="input-group">
          <input type="text"
                 class="form-control main-search-input"
                 placeholder="Search for Lehengas, Anarkalis.."
                 [(ngModel)]="queryInput"
                 (keyup.enter)="searchItems()"
                 aria-describedby="basic-addon2">
          <span class="input-group-addon"
                (click)="searchItems()"
                id="basic-addon2">
                <span class="glyphicon glyphicon-search"></span>
          </span>
        </div>
      </div>
      <div class="options inline pull-right" (mouseover)="displayMegaMenu(false)">
        <a href="https://secure.craftsvilla.com/buy/login">
          <div class="profile option inline pull-right" data-toggle="modal" data-target="#loginModal">
            <img src="images/profile_icon.png"
                 class="img-responsive pull-left icon"> &nbsp;<span class="hide-sm">Sign in</span>
          </div>
        </a>
        <a href="https://secure.craftsvilla.com/buy/cart">
          <div class="cart option inline pull-right">
            <img src="images/bag_icon.png" class="img-responsive icon">
            <span id="js-cart-count" class="notification-circle"></span>
          </div>
        </a>
        <div class="wishlist option inline pull-right hide-sm hide">
          <img src="images/wishlist_icon.png" class="img-responsive icon">
          <span id="js-wishlist-count" class="notification-circle"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="menu-slider-container occupy fixed" [ngStyle]="{'display': showBottomMenu}">
  <div class="menu-overlay-div" (mouseover)="displayMegaMenu(false)"></div>
  <div #headerContent></div>
</div>
