<div class="product-listing">
	<!-- <div class="product-wishlist" *ngIf="showWishlist">
		<img src="http://assetsintl.craftsvilla.com/cvintlfe/assets/images/wishlist-product.png" class="img-responsive">
		<div class="wishlisted-count">{{ product.wishlist?.length }}</div>
	</div> -->
	<a routerLink="/shop/{{product.slug}}/{{product.productId}}">
		<img lazyLoad data-src="{{product.imgUrl}}" class="img-responsive loading" alt="">
		<div class="product-info">
			<div class="product-name">{{ product.title }}</div>
			<div class="product-price">
				<span class="discounted-price">{{ product.discountedPrice | currency:'USD':true:'1.0-0' }}</span> 
				<span class="actual-price"><s>{{ product.regularPrice | currency:'USD': true:'1.0-0' }}</s></span> 
				<span class="discount">{{ product.discountPercentage | number:'3.1-5'}}</span>
			</div>
		</div>
	</a>
</div>
