<div class="product-listing">
	<!-- <div class="product-wishlist" *ngIf="showWishlist">
		<img src="http://assetsintl.craftsvilla.com/cvintlfe/assets/images/wishlist-product.png" class="img-responsive">
		<div class="wishlisted-count">{{ product.wishlist?.length }}</div>
	</div> -->
	<a routerLink="/shop/{{product.slug}}/{{product.productId}}">
		<img [lazyLoad]="product.imgUrl" class="img-responsive" alt="{{ product.title }}" src="http://res.cloudinary.com/craftsvilla/image/upload/evsfw5eqlqwwiabgtanc">
		<div class="product-info">
			<div class="product-name">{{ product.title }}</div>
			<div class="product-price">
				<span class="discounted-price">{{ product.discountedPrice | currency:'USD':true:'1.0-0' }}</span> 
				<span class="actual-price" *ngIf="product.discountPercentage !== 0"><s>{{ product.regularPrice | currency:'USD': true:'1.0-0' }}</s></span> 
				<span class="discount" *ngIf="product.discountPercentage !== 0">{{ product.discountPercentage | number:'1.0-0'}}% off</span>
			</div>
		</div>
	</a>
</div>
