<nav aria-label="cvi-pagination" class="text-center inline listing-pagination">
  <ul class="pagination">
    <li [ngClass]="{disabled: noPrevious()}" class="pagination-prev">
      <a (click)="selectPage(currentPage - 1, $event)" [attr.disabled]="noPrevious()">&lt;&lt;</a>
    </li>
    <li *ngFor="let page of pages" [ngClass]="{active: page.active}" class="pagination-page">
      <a (click)="selectPage(page.number, $event)">{{page.text}}</a>
    </li>
    <li [ngClass]="{disabled: noNext()}" class="pagination-next">
      <a (click)="selectPage(currentPage + 1, $event)" [attr.disabled]="noNext()">&gt;&gt;</a>
    </li>
  </ul>
</nav>
