<div class="product-listing col-sm-4 col-xs-6">
	<!-- <div class="product-wishlist" *ngIf="showWishlist">
		<img src="images/wishlist-product.png" class="img-responsive">
		<div class="wishlisted-count">{{ product.wishlist?.length }}</div>
	</div> -->
	<a routerLink="/product/{{product.productId}}">
		<img [attr.src]="placeholderLink"
         [attr.data-lazy-src]="product.imgUrl"
         [attr.data-productId]="product.productId"
         class="js-image-lazy">
		<div class="product-info">
			<div class="product-name">{{ product.title }}</div>
			<div class="product-price">
				<span class="discounted-price">{{ product.discountedPrice | currency:'USD':true }}</span> &nbsp;
				<span class="actual-price"><s>{{ product.regularPrice | currency:'USD': true }}</s></span> &nbsp;
				<span class="discount">{{ product.discountPercentage | number:'3.1-5'}}</span>
			</div>
			<div class="product-hover-info" *ngIf="showSizeInfo">
				SIZES: {{ getProductSizeString(product) }}
			</div>
		</div>
	</a>
  <div (click)="showZoomedImage($event)" class="product-zoom">
    <span class="image-zoom">
      <i class="glyphicon glyphicon-zoom-in"></i>
    </span>
  </div>
  <!-- <div class="image-overlay"></div> -->
</div>
