<div class="product-listing">
	<!-- <div class="product-wishlist" *ngIf="showWishlist">
		<img src="images/wishlist-product.png" class="img-responsive">
		<div class="wishlisted-count">{{ product.wishlist?.length }}</div>
	</div> -->
	<img [src]="product.imgUrl" class="img-responsive">
	<div class="product-info">
		<div class="product-name">{{ product.name }}</div>
		<div class="product-price">
			<span class="discounted-price">{{ product.discountedPrice }}</span> &nbsp;
			<span class="actual-price"><s>{{ product.regularPrice }}</s></span> &nbsp;
			<span class="discount">{{ product.discountPercentage }}</span>
		</div>
		<div class="product-hover-info" *ngIf="showSizeInfo">
			SIZES: {{ getProductSizeString(product) }}
		</div>
	</div>
</div>
