<cvi-header [showMegaMenuCaret]="hasMegaMenu"></cvi-header>
<div class="cvi-outlet-body clearfix">
	<router-outlet></router-outlet>
</div>
<div [innerHTML]="footerContent"></div>
<div class="cookie-msg-container clearfix" *ngIf="showCookieWarn">
	<p class="cookie-msg col-md-10">By continuing to browse the site you are agreeing to our use of cookies.
Review our <a routerLink="cookie-info"><b>cookies information</b></a> for more details.</p>
	<button class="msg-hide-btn btn" (click)="setCookie()">Got It</button>
</div>
<cvi-footer></cvi-footer>
