<div class="content wishlist-page">
  <div class="contain">
    <div class="page-heading text-center static-page-heading">
      <h1>FAQs</h1>
    </div>
    <div class="page-content bg-white static-page-content">
		<h3>Return and Refund</h3>
		<u>What is Craftsvilla’s Return Policy?</u>
		<br>
		We have a very simple refund and return policy, and we accept returns in all of the following cases: 
		<ol>
            <li> Products are torn, broken, damaged or</li>
            <li> Products are of a different size from that mentioned in the order or</li>
            <li> Customer does not receive all parts of the product or</li>
            <li> Product color is completely different from that on the website</li>
		</ol>
		<u>How to raise dispute for an order?</u>
		<br>
		Write to us on email id with your order no.  and problem. 
		<br>
		<br>
		<u>What happens after a dispute is raised?</u>
		<br>
		Our team will reach out to you. 
		<br>
		<br>
		<u>Who pays for the delivery charges for returning of products?</u>
		<br>
		Craftsvilla will pay for the delivery charges if our return policy is satisfied. 
		Incase you self-ship the product, Craftsvilla will reimburse the shipping charges upto a maximum of the shipping charges paid by you. The exact amount of reimbursement is subject to the case and at the sole discretion of Craftsvilla. 
		<br>
		<br>
		<u>When will I be refunded?</u>
		<br>
		Dear Customer,
		Your refund should be processed within 7 days of Craftsvilla receiving the product back. Incase the product is not being returned, but only refund is being done, the refund should be processed within 5 business days of the resolution. 
		Can I return a part of my order?
		Yes, as long as it satisfies the return policy.
		What items are not returnable?
		Intimate products, stitched products cannot be returned
		<br>
		<br>
		<u>Shipping</u>
		<br>
		What are the shipping charges?
		Shipping charges are courier costs associated with the shipping of each product. 
		What is the estimated delivery time?
		Delivery times can vary from 10-15 days based on the country and location of your order. 
		<br>
		<br>
		<u>How can I track the delivery of my order?</u>
		<br>
		You must have received an order confirmation mail on your registered email ID. The email contains your order ID. Please click here and enter your order ID to know the current status of your order
		<br>
		<br>
		<u>What does "Out of Stock" mean?</u>
		<br>
		“Out of stock” means that the seller has run out of stock for the given product. 
		<br>
		<br>
		<u>Who would be responsible for paying local taxes in countries outside of India?</u>
		<br>
		Dear Customer, as mentioned on our website before placing order, Craftsvilla as a policy does not pay the customs clearance charge and does not charge the same to the customer and hence the local taxes at the country of import is to be paid by the customer.   
		<br>
		<br>
		<h3>Payment</h3>
		<u>How do I pay for a Craftsvilla purchase?</u>
		<br>
		All international orders can be paid for via Debit Cards, Credit Cards or Net Banking. If you are a paypal user, you can also alternatively pay via Paypal. 
		<br>
		<br>
		<u>Is there Cash on Delivery on international orders?</u>
		<br>
		There is no Cash On Delivery option for international orders. 
		How do I pay using a Credit/Debit card and is it safe?
		Yes, it is super safe. 
		<br>
		<br>
		<u>What credit cards are supported?</u>
		<br>
		We support Visa, MasterCard, AmEx. 
		<br>
		<br>
		<u>Do you accept international credit cards on Craftsvilla?</u>
		<br>
		Yes, we do. 
		<br>
		<br>
		<u>Can I make a credit/debit card or Internet Banking payment through my mobile?</u>
		<br>
		Yes, you can. 
		<br>
		<br>
		<u>Is it safe to use my credit/debit card on Craftsvilla?</u>
		<br>
		Yes, it is. 
		<br>
		<br>
		<u>Does Craftsvilla store my credit card information?</u>
		<br>
		No, as a policy we do not store your credit card information. 
		<br>
		<br>
		<u>Can I place an order for an Indian location?</u>
		<br>
		No, to place an order for an Indian location, please visit <a href="www.craftsvilla.com">www.craftsvilla.com</a>
		<br>
		<br>
		<h3>Order Status</h3>
		<u>How do I check the current status of my orders?</u>
		<br>
		You must have received an order confirmation mail on your registered email ID. The email contains your order ID. Please click here and enter your order ID to know the current status of your order. 
		<br>
		<br>
		<h3>Contact us</h3>
		<u>Couldn't find the information you needed?</u> 
		<br>
		Please Email us at 
		<a href="mailto:hello@craftsvilla.com">
			<u>hello@craftsvilla.com</u>
		</a>
		<br>
    </div>
  </div>
</div>
