<style>
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

#share-buttons img {
  width: 16px;
  border: 0;
  display: inline;
}
.product-info-container .sizeActive{
  border: 2px solid #474646;
  cursor: pointer;
  color: #474646;
}
.product-page .message-box-red, .product-page .message-box-green {
  float;left;
  text-align: center;
  color: #ffffff;
  padding:5px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 95%;
  max-width: 1230px;
  margin: 10px auto;
  height: inherit;"
}
.product-page .message-box-red{
  background-color: #f2dede;
  color:#a94442;
}
.product-page .message-box-green{
  background-color: #dff0d8;
  color:#3c763d;
}
</style>
<div class="content product-page">
<!--   <div class="contain hide-sm">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Women</a></li>
      <li><a href="#">Lehengas</a></li>
      <li class="active">Black Color Goergette Lehenga</li>
    </ol>
  </div> -->
  <div class="message-box-green" *ngIf="addToBagSuccess && !addToBagUnSuccess && !outOfStockMsgDspl">
    Product has been successfully added to your cart.
  </div>
  <div class="message-box-red"  *ngIf="addToBagUnSuccess && !addToBagSuccess && !outOfStockMsgDspl">
    Please Select Size.
  </div>
  <div class="message-box-red" *ngIf="!addToBagUnSuccess && !addToBagSuccess &&outOfStockMsgDspl">
    Product is out of stock.
  </div>
  <div class="product-container">
    <div class="contain" *ngIf="products" >
      <div class="product-thumbnails inline pull-left hide-sm">
        <img  src="{{galleryImage}}"  class="img-responsive"  on-mouseover="showImage($event, galleryImage)" *ngFor="let galleryImage of galleryImages">
      </div>
      <div class="product-img-container inline pull-left text-center hide-sm">
        <img (mouseover)="onImageHover(products.bigUrl, $event)" (mousemove) = "onImageHoverMove($event)" (mouseout) = "onHoverOut()" src="{{imageUrl}}" class="img-responsive">
        <div class="product-stitch-type">
          <p *ngIf="products.stitching_type !== 'Null'">{{products.stitching_type}}</p>
          <p *ngIf="products.stitching_type === 'Null'">Unstiched</p>
        </div>
      </div>
      <div class="zoomed-image"></div>
      <div class="product-img-container pull-left text-center responsive-img-container">
        <div class="product-stitch-type">
          <p *ngIf="products.stitching_type !== 'Null'">{{products.stitching_type}}</p>
          <p *ngIf="products.stitching_type === 'Null'">Unstiched</p>
        </div>
        <swiper [config]="config" *ngIf="galleryImages.length > 0">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let galleryImage of galleryImages;">
              <img class="productImage  img-responsive" *ngIf=" galleryImages.length  > 0" src="{{galleryImage}}" alt="{{products.productName}}" >
              <img class="productImage img-responsive" *ngIf=" galleryImages.length  <= 0" src="https://s3-ap-southeast-1.amazonaws.com/cvshopdesk/images/product.jpg" alt="{{products.productName}}" >
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </swiper>
      </div>
      <div class="product-info-container inline">
        <span class="mob-bg-white">
          <div class="name mob-section-heading">
            <h1>{{products.productName}}</h1>
          </div>
          <div class="price mob-section-body">
            <span class="discounted-price"  >${{products.discountedPrice}}</span>
            &nbsp;<span class="actual-price" *ngIf="isRegularPriceMore"><s>${{products.regularPrice}}</s></span>
            &nbsp;<span class="discount green"  *ngIf="isDiscountPercVesible">{{products.discountPercentage | number:'2.1-2'}}% off</span>
            <!-- &nbsp;<span class="discount green"  *ngIf="isDiscountPercVesible">{{products.discountPercentage | currency:'USD':true:'1.2-2'}}% off</span> -->
            <span class="pull-right details-wishlist-container" (click)="addWish($event)" style="display:none;"><img src="images/wishlist-product.png" class="img-responsive wishlist-details-page inline mob-inline" > Add to Wishlist</span>
          </div>
          <hr>
          <div class="description" *ngIf="getDescription(products.description)">
            <div class="heading mob-section-heading">Description</div>
            <ul *ngIf="renderedDescription">
              <li class="body mob-section-body desc-list" *ngFor="let descObjKey of descObjKeys()">
                <span class="desc-key">{{descObjKey}}</span>
                <span class="desc-value">: {{renderedDescription[descObjKey]}}</span> 
              </li>
            </ul>
            <p *ngIf="!renderedDescription">{{products.description}}</p>
          </div>
          <hr *ngIf="getDescription(products.description)">
          <div class="shipping-cost mob-inline inline">
            <div class="heading mob-section-heading">Shipping Cost</div>
            <div class="shipping-cost-value mob-section-body">{{products.shippingCostWorld}}</div>
          </div>
          <div class="shipping-cost mob-inline inline">
            <div class="heading mob-section-heading">Delivery Time</div>
            <div class="shipping-cost-value mob-section-body">{{products.estimatedDeliveryTime}} </div>
          </div>
          <div class="sold-by inline hide-sm">
            <div class="heading mob-section-heading">Sold by</div>
            <div class="shipping-cost-value">{{vendorDetails.vendorName}} </div>
          </div>
          <span class="add-to-bag-block">
            <div class="size occupy mob-inline cover">
             <!--  <div class="heading mob-section-heading"  [class.displayNone]="!stitching_enabled">
                <span class="pull-left">Select Stitch Type</span>
              </div>

              <div class="stitching occupy mob-section-body"  >
                <select (change)="selectStitchingType($event.target.value)" [class.displayNone]="!stitching_enabled">
                  <option>Select Stitching...</option>
                  <option id="Readymad" >Readymade</option>
                  <option id="Unstitched" >Unstitched</option>
                  <option id="Semi-stitched">Semi-stitched</option>
                  <option id="Customized Stitch" >Customized Stitch</option>
                </select>
                <div [class.displayNone]="!stitching_type_text_show">
                  <span><strong>Stitching Type : </strong></span> <span>{{stitching_type}}</span></div>

                </div> -->
              <div class [class.displayNone]="showSizeDiv" >
                <div class="heading select-size-header mob-section-heading" id="sizeChartDiv">
                  <span class="pull-left">Select Size</span>
                  <span class="pull-right mob-link link" data-toggle="modal" data-target="#sizeChartModal">Size Chart</span>
                </div>
                <div class="sizes occupy mob-section-body" >
                 <!--  <span *ngFor="let size of sizes  let i=index  ">
                    <span class="size-box" id="{{size}}{{i}}"  (click)="selectProducSize($event)" [class.active]="isClassVisible">{{size}}</span>
                  </span> -->
                  <span *ngFor="let size of sizes , let i = index"
                    [attr.data-selected]="false"
                    (click)="selectSize($event, size)"
                    class="size-box"
                    [class.active]="selectedSize === size">
                    {{ size }}
                  </span>
                </div>
              </div>
            </div>
            <div class="stitch"></div>
            <div class="add-to-bag occupy fixed-bottom-bar product-buy-btns">
              <button class="btn btn-default add-cart-btn flat-btn purchase" (click)="addToBag($event)">ADD TO CART</button>
              <button *ngIf="!showBuyLoader" (click)="buyNow($event)" class="btn btn-brand buy-btn flat-btn purchase">BUY NOW</button>
              <button *ngIf="showBuyLoader" class="btn btn-brand buy-btn flat-btn purchase">
                  <div class="cv-loader" *ngIf = "showBuyLoader">
                    <svg width="35px" height="35px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-facebook">
                        <rect x="0" y="0" width="100" height="100" fill="transparent" class="bk"></rect>
                        <g transform="translate(20 50)">
                          <rect x="-10" y="-30" width="20" height="60" fill="#981937" opacity="0.6" transform="scale(1.55427 1.55427)">
                            <animateTransform attributeName="transform" type="scale" from="2" to="1" begin="0s" repeatCount="indefinite" dur="1s" calcMode="spline" keySplines="0.1 0.9 0.4 1" keyTimes="0;1" values="2;1">
                            </animateTransform>
                          </rect>
                        </g>
                        <g transform="translate(50 50)">
                          <rect x="-10" y="-30" width="20" height="60" fill="#981937" opacity="0.8" transform="scale(1.00003 1.00003)">
                            <animateTransform attributeName="transform" type="scale" from="2" to="1" begin="0.1s" repeatCount="indefinite" dur="1s" calcMode="spline" keySplines="0.1 0.9 0.4 1" keyTimes="0;1" values="2;1">
                            </animateTransform>
                          </rect>
                        </g>
                        <g transform="translate(80 50)"><rect x="-10" y="-30" width="20" height="60" fill="#981937" opacity="0.9" transform="scale(1.00149 1.00149)">
                          <animateTransform attributeName="transform" type="scale" from="2" to="1" begin="0.2s" repeatCount="indefinite" dur="1s" calcMode="spline" keySplines="0.1 0.9 0.4 1" keyTimes="0;1" values="2;1">
                          </animateTransform>
                        </rect>
                      </g>
                    </svg>
                </div>
              </button>
            </div>
          </span>
          <div class="share-product hide-sm" id="share-buttons">
            <span class="header">Share on &nbsp;</span>
            <a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/craftsvilla/?fref=ts" target="_blank">
              <img src="images/facebook.png" alt="Facebook" />
            </a>
            <a href="https://twitter.com/share?url=https://www.craftsvilla.com&amp;text=Simple%20Share%20Buttons&amp;hashtags={{products.productName}}" target="_blank">
              <img src="images/twitter.png" alt="Twitter" />
            </a>
            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
              <img src="images/pinterest.png" alt="Pinterest" />
            </a>
          </div>
        </span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="product-details-block">
    <div class="mob-bg-white bg-white occupy">
      <div class="product-details-container">
        <div class="mob-section-heading section-heading">PRODUCT DETAILS</div>
        <table class="table table-striped">
          <tr *ngFor="let attribute of attributes">
            <td>{{attribute.key}}</td>
            <td>{{attribute.value}}</td>
          </tr>

        </table>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="sizeChartModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Size Chart</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-5 text-center">
            <img src="#">
            <p>All measurements shown are of the garment</p>
          </div>
          <div class="col-sm-7">
            <p><strong>Dimensions for Women</strong></p>
            <table class="table table-bordered"  >
              <thead >
                <tr class="active">
                  <th *ngFor="let columnName of sizeChartHeaders">{{columnName}}</th>
                </tr>
              </thead>
              <tbody *ngIf="sizeChartData">
                <tr *ngFor="let temp of sizeChartData[0]; let i=index">
                  <td *ngFor="let j of sizeChartData"> {{ j[i] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
