//Common, Header and Footer

//Font Sizes
$font-xs: 10px;
$font-small: 12px;
$font-med: 14px;
$font-large: 16px;
$font-xl: 18px;


//Colors
$brand-color: #981937;
$brand-2: #d94e4e;
$background-color: #f4f1eb;
$font-light: #6b6b6b;
$font-ul: #b4b4b4;
$font-dark: #333333;
$green: #4bc653;


//Heights and Widths
$top-menu-height: 30px;
$flag-height: 14px;
$mid-menu-height: 80px;
$contain-width: 95%;
$contain-max-width: 1230px;
$slider-height: 400px;
$bottom-bar-height: 50px;
$sort-filter-height: 50px;
$sort-filter-icon-size: 20px;

//Borders
$border: 1px solid #e2e2e2;