<div class="content wishlist-page">
  <div class="contain">
    <div class="page-heading text-center static-page-heading">
      <h1>Craftsvilla in Media</h1>
    </div>
    <div class="page-content bg-white static-page-content">
      <h4>Print:</h4>
      <ol>
        <li>The Hindu</li>
        <li>LiveMint (Wall Street Journal)</li>
        <li>Midday</li>
      </ol>
      <br>
      <h4>Online:</h4>
      <ol>
        <li> Startupbeat.com</li>
        <li>Techcrunch.com</li>
        <li>Moneycontrol.com</li>
      </ol>
      <br>
      <h4>Blogs:</h4>
      <ol>
        <li>Young Upstarts</li>
        <li>Tanya Munshi</li>
        <li>Think Change India</li>
        <li>Indian Makeup Ways</li>
        <li>Youth Talent Auzzar</li>
      </ol>
      <br>
      <h4>TV/Videos:</h4>
      <ol>
        <li>CNBC Young Turks: Monica Gupta Interview on CNBC</li>
        <li>ETNow Starting Up: Monica Gupta Interview on ETNow</li>
      </ol>
    </div>
  </div>
</div>
