<div class="content wishlist-page">
  <div class="contain">
    <div class="page-heading text-center">
      <h1>About us</h1>
    </div>
    <div class="page-content bg-white static-page-content">
      <p>Craftsvilla.com is a marketplace to "Discover Unique Indian Products" including Handmade, Vintage, Ethnic, Organic and Natural products from India.<br><br> India is a beautiful assortment of diversity reflected in our Clothing, Food, Lifestyle,
        Language, Music, Books etc. This diversity is so rich and diverse that an attempt to capture it on a single platform was never made. Craftsvilla.com is that sincere attempt by bunch of young insane guys and gals who think this is possible now
        with the Internet.<br><br> Craftsvilla.com uses a marketplace model to capture the regional variations of India. We connect local artisans and designers directly to global customers and thereby increase their livelihood, remove middlemen, help
        them create/promote their brand and thereby preserve our culture, traditions and values. We believe this journey will not only help artisans of India but also help customers discover and buy products which they otherwise are not able to do today.<br><br>        As they say starting Craftsvilla.com was fate, reaching out to artisans was a choice, but falling in love with the idea of India was beyond our control. Lets relive that old India together again.<br><br> Craftsvilla.com is funded by US based Investors:
        Nexus Venture Partners and Lightspeed Venture Partners. Craftsvilla.com has also been hailed in the various media including Times of India, Hindu, Economic Times, WSJ etc as the "Hottest Young Company in Handicrafts in India" which is bringing
        positive change in the livelihood of base level artisans and designers.<br><br> Customer delight is our motto. Please write to us directly if you have any feedback, questions, concerns or suggestions.
        <br><br>
        <i>Yours Truly,</i><br> Craftsvilla Family<br> Email:
        <a href="hello@craftsvilla.com"> <u>hello@craftsvilla.com</u></a>
      </p>
    </div>
  </div>
</div>
