@charset "UTF-8";

body{
  background-color: #f4f1eb !important;
}
svg:not(:root) {
    overflow: hidden;
}

.dropdown-backdrop {
  display: none !important; 
}
a {
    color: #333333 !important; 
}
a:hover {
  text-decoration: none !important; 
}

/** Tabs Widget Css */
ul.nav.nav-tabs.tabs-widget {
    border-bottom: none;
}
ul.nav.nav-tabs.tabs-widget li.active{
  cursor: default;
}
ul.nav.nav-tabs.tabs-widget li.active,ul.nav.nav-tabs.tabs-widget li:hover {
    border-bottom: 2px solid #d9d9d9;
}
ul.nav.nav-tabs.tabs-widget li {
    width: 50%;
    cursor: pointer;
}
ul.nav.nav-tabs.tabs-widget li a {
    background: none;
    border: none;
}

.product-page .product-img-container img {
  margin: auto;
  border: 1px solid #e2e2e2;
  margin-left: 0px;
  cursor: crosshair;
  width: 500px;
  height: 500px;
}
.product-details-block{
    float: none;
    max-width: 1400px;
    margin: 0 auto;
    width: 95%;
}

.product-container {
  background-color: white;
  width: 95%;
  max-width: 1400px;
  -webkit-box-shadow: 1px 1px 4px #e2e2e2;
  -moz-box-shadow: 1px 1px 4px #e2e2e2;
  box-shadow: 1px 1px 4px #e2e2e2;
  margin: 5px auto;
  padding: 15px 25px 15px 15px;
}
.displayNone{display: none;}

.bag-container .bag-header {
  height: 50px;
  line-height: 50px;
  color: #6b6b6b; }
  .bag-container .bag-header .heading {
    font-size: 18px;
    font-weight: bold; }
.bag-container .bag-item {
  position: relative;
  border: 1px solid #e2e2e2;
  padding: 2%;
  margin-bottom: 20px; }
  .bag-container .bag-item .break {
    height: 10px; }
.bag-container .delete-bag-item {
  position: absolute;
  top: 5px;
  right: 10px; }
.swiper-button-disabled{
  display: none;
}
.responsive-img-container{
  display: none;
}

@media only screen and (min-width: 1050px) {
  .bag-container {
    width: 74%;
    margin-right: 1%;
    padding: 0px 20px; }
    .bag-container .bag-item-img {
      width: 18%;
      margin-right: 2%;
      cursor: pointer; }
    .bag-container .bag-item-info {
      width: 76%; }
      .bag-container .bag-item-info .cart-spec {
        margin-right: 12%; }
      .bag-container .bag-item-info .bag-item-stitch-cost {
        height: 26px; }
    .bag-container .cart-item-action .action-item {
      color: #b6b6b6;
      margin-right: 15px; } }
@media only screen and (max-width: 1050px) {
  .bag-container {
    margin-right: 0;
    width: 100%;
    padding: 0% 2%; }
    .bag-container .bag-item {
      float: left;
      margin-bottom: 2%; }
      .bag-container .bag-item .break {
        height: 0; }
    .bag-container .bag-item-img {
      width: 35%;
      margin-right: 2%; }
    .bag-container .bag-item-info {
      width: 59%;
      float: left; }
      .bag-container .bag-item-info .cart-spec {
        margin: 0;
        float: left;
        margin-right: 10px; }
      .bag-container .bag-item-info .cart-spec-header {
        display: inline-block; }
      .bag-container .bag-item-info .cart-spec-value {
        display: inline-block; }
      .bag-container .bag-item-info .bag-item-specs {
        margin: 10px 0px; }
      .bag-container .bag-item-info .bag-item-name {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .bag-container .bag-item-info .bag-item-stitch-cost {
        width: 100%;
        float: left;
        margin-top: 10px; }
    .bag-container hr {
      margin-bottom: 10px; }
    .bag-container .cart-item-action .action-item {
      margin-right: 10px; } }
.checkout-summary .apply-coupons input {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px;
  -moz-box-shadow: 0px 0px;
  box-shadow: 0px 0px; }
.checkout-summary .apply-coupons button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  height: 34px; }

.trust-markers {
  float: left;
  width: 100%;
  margin-top: 10px; }

@media only screen and (min-width: 1050px) {
  .checkout-summary {
    width: 25%;
    padding: 10px 20px 20px 20px; }
    .checkout-summary .line-item {
      width: 100%;
      float: left;
      margin-top: 10px; }
    .checkout-summary .order-summary {
      font-size: 12px;
      color: #6b6b6b; }
      .checkout-summary .order-summary .heading {
        font-size: 14px;
        color: #333; }
    .checkout-summary .review-order {
      margin-bottom: 10px; }
    .checkout-summary .review-order-header {
      text-decoration: underline;
      font-size: 12px;
      cursor: pointer; }
    .checkout-summary .checkout-btn {
      height: 40px;
      line-height: 32px;
      margin-top: 15px; }

  .checkout-body {
    margin-top: 10px !important; }

  .checkout-steps-container {
    width: 74%;
    margin-right: 1%; }

  .checkout-step {
    margin-bottom: 10px; }
    .checkout-step .heading {
      color: #b4b4b4;
      height: 50px;
      line-height: 50px;
      padding: 0px 20px;
      border-bottom: 1px solid #e2e2e2; }
    .checkout-step .active {
      color: #333333; }
    .checkout-step .complete {
      color: #333333; }
    .checkout-step .checkout-step-body {
      padding: 20px; }

  .add-address-container {
    width: 60%;
    margin-top: 30px; }
    .add-address-container .left {
      width: 49.5%;
      float: left; }
    .add-address-container .right {
      width: 49.5%;
      margin-left: 1%;
      float: left; }
    .add-address-container textarea {
      resize: none; }
    .add-address-container label {
      font-size: 12px !important;
      font-weight: 400 !important; }

  .review-item {
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
    width: 100%; }
    .review-item .review-item-img {
      width: 20%;
      margin-right: 2%;
      border: 1px solid #e2e2e2;
      padding: 1%; }
    .review-item .review-item-info {
      width: 78%; }
    .review-item .close {
      position: absolute;
      top: -3px;
      right: 0; }
    .review-item .bag-item-name {
      width: 90%; }

  .login-seperator {
    margin-top: 76px;
    font-weight: bold;
    margin-left: 20px; }

  .social-login img {
    cursor: pointer; } }
@media only screen and (max-width: 1050px) {
  .checkout-steps-container {
    width: 100%;
    margin-right: 0;
    padding: 2%; }
    .checkout-steps-container .email-login, .checkout-steps-container .social-login {
      margin: 15px 0px; }
    .checkout-steps-container .deliver-btn {
      width: 100%; }

  .checkout-login {
    text-align: center; }

  .trust-markers {
    margin-bottom: 70px; }
    .trust-markers img {
      margin: auto; }

  .checkout-status {
    display: none; }

  .checkout-summary {
    width: 100%;
    padding: 2%; }
    .checkout-summary .order-summary {
      padding: 2%; }
      .checkout-summary .order-summary .line-item {
        width: 100%;
        display: inline-block;
        line-height: 1.8; }
      .checkout-summary .order-summary .total {
        font-weight: bold; }
      .checkout-summary .order-summary hr {
        margin: 5px 0px; }
    .checkout-summary .checkout-bar {
      height: 50px;
      position: fixed;
      bottom: 0;
      background-color: #ffffff;
      border-top: 1px solid #bababa;
      width: 100%;
      z-index: 99;
      display: block;
      margin-left: -2%;
      -webkit-box-shadow: 0px -2px 2px #e2e2e2;
      -moz-box-shadow: 0px -2px 2px #e2e2e2;
      box-shadow: 0px -2px 2px #e2e2e2; }
      .checkout-summary .checkout-bar .total {
        width: 40%;
        margin: 1%;
        display: inline-block;
        float: left; }
        .checkout-summary .checkout-bar .total span {
          display: block;
          width: 100%;
          text-align: left; }
      .checkout-summary .checkout-bar .checkout-btn {
        width: 96%;
        margin: 0 2%;
        display: inline-block;
        font-weight: bold;
        letter-spacing: 1px;
        float: right;
        height: 36px;
        line-height: 26px;
        margin-top: 7px; }
      .checkout-summary .checkout-bar .total-price-header {
        font-size: 12px;
        color: #bababa; }
      .checkout-summary .checkout-bar .total-price-val {
        font-size: 16px;
        color: #981937;
        font-weight: bold; }

  .apply-coupons {
    margin-bottom: 10px; }

  .checkout-step {
    padding: 2%;
    margin-bottom: 2%; }
    .checkout-step .heading {
      width: 100%;
      display: inline-block;
      height: 40px;
      line-height: 35px;
      border-bottom: 1px solid #e2e2e2; }

  .next-btn {
    width: 100%;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    border-radius: 0px !important; }

  .review-item {
    display: inline-block;
    padding: 2% 0; }
    .review-item .review-item-img {
      width: 28%;
      margin-right: 2%;
      border: 1px solid #e2e2e2;
      padding: 1%; }
    .review-item .review-item-info {
      width: 70%;
      float: left; } }
.billing-address-check input {
  margin-top: 1px !important; }

@media only screen and (min-width: 1050px) {
  .hide-lg {
    display: none !important; }

  body {
    letter-spacing: 0.5px; }

  .contain {
    width: 95%;
    max-width: 1400px;
    margin: auto;
    height: inherit; }

  .link {
    color: #46b8da;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer; }

  .inline {
    display: inline-block !important; }

  .breadcrumb {
    padding: 8px 10px !important;
    margin-bottom: 0 !important;
    font-size: 12px;
    background-color: #f4f1eb !important; }

  .font-small {
    font-size: 12px; }

  .font-large {
    font-size: 18px; }

  hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important; }

  .occupy {
    float: left;
    width: 100%; }

  .last {
    margin-right: 0px !important; }

  .green {
    color: #4bc653; }

  .bg-white {
    background-color: white;
    -webkit-box-shadow: 1px 1px 4px #e2e2e2;
    -moz-box-shadow: 1px 1px 4px #e2e2e2;
    box-shadow: 1px 1px 4px #e2e2e2; } }
@media only screen and (max-width: 1050px) {
  .hide-sm {
    display: none !important; }

  .cover {
    background-color: white;
    width: 100%;
    margin-bottom: 10px; }

  .mob-contain {
    display: inline-block;
    width: 100%;
    padding: 5px 2%; }

  .mob-inline {
    display: inline-block; }

  .mob-link {
    color: #46b8da;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer; }

  .dark-link {
    color: #6b6b6b;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer; }

  .mob-bg-white {
    background-color: white;
    -webkit-box-shadow: 1px 1px 4px #e2e2e2;
    -moz-box-shadow: 1px 1px 4px #e2e2e2;
    box-shadow: 1px 1px 4px #e2e2e2;
    display: inline-block;
    width: 100%;
    margin: 10px auto; }

  .mob-section {
    margin: 0 auto;
    width: 93%; }

  .mob-section-heading {
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
    width: 100%;
    float: left; }

  .mob-section-body {
    padding: 0px 10px 10px 10px;
    float: left;
    width: 100%; }

  .fixed-bottom-bar {
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-top: 1px solid #bababa;
    width: 100%;
    z-index: 99;
    -webkit-box-shadow: 0px -2px 2px #e2e2e2;
    -moz-box-shadow: 0px -2px 2px #e2e2e2;
    box-shadow: 0px -2px 2px #e2e2e2; }

  .green {
    color: #4bc653; } }
.page-heading h1 {
  font-size: 20px !important;
  margin: 20px 0px; }

.light-grey {
  color: #939393; }

.input-box, .flat-btn {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px !important;
  -webkit-box-shadow: 0px 0px !important;
  -moz-box-shadow: 0px 0px !important;
  box-shadow: 0px 0px !important; }

.hide {
  display: none; }

.btn-brand {
  color: #fff;
  background-color: #d94e4e;
  border: 0 !important; }
  .btn-brand:hover {
    color: #fff !important;
    background-color: #c74444;
    border: 0 !important; }
  .btn-brand:focus {
    color: #fff !important;
    background-color: #c74444;
    border: 0 !important; }

.btn-main-brand {
  color: #fff;
  background-color: #981937;
  border: 0 !important; }
  .btn-main-brand:hover {
    color: #fff !important;
    background-color: #911532;
    border: 0 !important; }
  .btn-main-brand:focus {
    color: #fff !important;
    background-color: #911532;
    border: 0 !important; }

.btn-green {
  color: #fff;
  background-color: #48ba48;
  border-color: #5cb85c; }
  .btn-green:hover {
    background-color: #45ae45;
    color: #fff !important;
    border-color: #5cb85c; }
  .btn-green:focus {
    background-color: #45ae45;
    color: #fff !important;
    border-color: #5cb85c; }

.modal-content {
  border-radius: 2px !important; }

.btn:focus {
  border: 0 !important;
  outline: none !important; }

.testimonials {
  /* carousel */
  /* Control buttons  */
  /* Previous button  */
  /* Next button  */
  /* Changes the position of the indicators */
  /* Changes the color of the indicators */
  /* End carousel */
  /**
    MEDIA QUERIES
  */
  /* Small devices (tablets, 768px and up) */
  /* Small devices (tablets, up to 768px) */ }
  .testimonials #quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px; }
  .testimonials #quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px; }
  .testimonials #quote-carousel .carousel-control.left {
    left: -12px; }
  .testimonials #quote-carousel .carousel-control.right {
    right: -12px !important; }
  .testimonials #quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px; }
  .testimonials #quote-carousel .carousel-indicators li {
    background: #c0c0c0; }
  .testimonials #quote-carousel .carousel-indicators .active {
    background: #333333; }
  .testimonials #quote-carousel img {
    width: 250px;
    height: 100px; }
  .testimonials .item blockquote {
    border-left: none;
    margin: 0; }
  .testimonials .item blockquote img {
    margin-bottom: 10px; }
  .testimonials .item blockquote p:before {
    /*content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;*/ }
  @media (min-width: 768px) {
    .testimonials #quote-carousel {
      margin-bottom: 0;
      padding: 0 40px 30px 40px; } }
  @media (max-width: 768px) {
    .testimonials {
      /* Make the indicators larger for easier clicking with fingers/thumb on mobile */ }
      .testimonials #quote-carousel .carousel-indicators {
        bottom: -20px !important; }
      .testimonials #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px; }
      .testimonials #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px; } }

@media only screen and (min-width: 1050px) {
  .footer {
    background-color: white;
    padding: 50px 0px 10px 0px;
    border-top: 1px solid #e2e2e2;
    margin-top: 15px;
    display: inline-block;
    width: 100%; }
    .footer .footer-list-group {
      display: block;
      padding-left: 0; }
      .footer .footer-list-group li {
        list-style-type: none;
        border-bottom: 1px solid #e2e2e2;
        font-size: 12px;
        height: 30px;
        line-height: 30px; }
        .footer .footer-list-group li a {
          color: #6b6b6b !important; }
          .footer .footer-list-group li a:hover {
            color: #333333 !important; }
    .footer .footer-txt {
      color: #6b6b6b;
      font-size: 12px; }
    .footer .social-footer a img {
        width: 20px;
        border: 0;
        height: 20px;
    }
    .footer .footer-row-2 {
      margin-top: 20px; } }
@media only screen and (max-width: 1050px) {
  .footer {
    background-color: white;
    border-top: 1px solid #e2e2e2;
    float: left;
    width: 100%;
    padding: 15px 0px; }

  .footer-list-group {
    padding-left: 0;
    list-style-type: none; }
    .footer-list-group li {
      height: 30px;
      line-height: 30px;
      padding: 0; }
      .footer-list-group li a {
        color: #6b6b6b; }

  .list-head {
    height: 30px;
    line-height: 30px; } }
@media only screen and (min-width: 1050px) {
  .top-menu {
    background-color: #f4f1eb;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #e2e2e2;
    font-size: 12px; }
    .top-menu .buyer-protection img {
      vertical-align: sub;
      width: 18px; }

  .top-menu-item {
    margin-left: 18px; }

  .mid-menu {
    height: 80px;
    line-height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    padding: 0 30px; }

  .flag {
    vertical-align: sub;
    height: 14px;
    margin-top: -2px; }

  .logo {
    width: 23%; }

  .search {
    width: 60%;
    height: 34px;
    margin-top: 23px; }
    .search .input-group {
      float: left;
      width: 100%; }
      .search .input-group .input-group-addon {
        background-color: #981937;
        color: white;
        border: 1px solid #981937;
        cursor: pointer;
        -webkit-border-radius: 0px 3px 3px 0px;
        -moz-border-radius: 0px 3px 3px 0px;
        -ms-border-radius: 0px 3px 3px 0px;
        border-radius: 0px 3px 3px 0px; }
      .search .input-group .main-search-input {
        -webkit-box-shadow: 0px 0px;
        -moz-box-shadow: 0px 0px;
        box-shadow: 0px 0px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px; }
    .search .drop-menu {
      display: none; }

  .options {
    width: 15%;
    line-height: 20px;
    margin-top: 30px;
    text-align: right; }
    .options .option {
      position: relative;
      margin-left: 28px;
      cursor: pointer; }
    .options .icon {
      width: 18px; }

  .checkout-status {
    letter-spacing: 2px;
    font-size: 12px; }
    .checkout-status .status {
      color: #b4b4b4;
      float: left;
      height: 30px;
      line-height: 30px;
      text-align: center; }
    .checkout-status .bag {
      margin-left: 42px; }
    .checkout-status .shipping {
      margin-left: 100px; }
    .checkout-status .payment {
      margin-left: 84px; }
    .checkout-status .circle-container {
      margin-left: 50px; }
    .checkout-status .circle {
      width: 10px;
      height: 10px;
      background-color: #e2e2e2;
      border-radius: 50%;
      float: left;
      margin-top: 35px; }
    .checkout-status .line {
      width: 140px;
      height: 2px;
      line-height: 2px;
      background-color: #e2e2e2;
      vertical-align: middle;
      float: left;
      margin-top: 39px; }
    .checkout-status .active {
      color: #4bc653;
      font-weight: bold; }
    .checkout-status .active-circle {
      background-color: #4bc653; }
    .checkout-status .active-line {
      background-color: #4bc653; }

  .categories-dropdown {
    float: left;
    margin-right: 2%;
    line-height: 0;
    height: 34px;
    width: 18%;
    position: relative; }
    .categories-dropdown .btn {
      width: 100%;
      text-align: left;
      letter-spacing: 1px;
      font-size: 12px;
      height: 34px;
      line-height: 22px;
      color: grey;
      font-weight: bold;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
    .categories-dropdown .menu-drop {
      display: none;
      position: absolute;
      z-index: 100;
      left: -74px;
      margin-top: -10px; }
    .categories-dropdown .menu-list {
      width: 200px;
      background-color: white;
      height: 400px;
      border: 1px solid #e2e2e2; }
      .categories-dropdown .menu-list li:hover {
        width: 199px !important; }
    .categories-dropdown .menu-sub-cat {
      width: 714px;
      left: 200px;
      border: 1px solid #e2e2e2;
      border-left: 0; }

  .dropdown-flag {
    border: 0 !important;
    display: inline-block;
    background-color: transparent !important;
    font-size: 11px !important;
    line-height: 10px;
    letter-spacing: 1px;
    padding-left: 0 !important; } }
@media only screen and (max-width: 1050px) {
  .search {
    margin-top: 1%; }
    .search .form-control {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      -webkit-box-shadow: 0px 0px;
      -moz-box-shadow: 0px 0px;
      box-shadow: 0px 0px; }
    .search .input-group-addon {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      background-color: #981937;
      color: white;
      border-color: #981937; }

  .logo {
    height: 40px;
    line-height: 46px;
    width: 60%; }
    .logo img {
      height: 24px;
      vertical-align: sub;
      margin-right: 3%; }
    .logo .menu-icon {
      height: 20px;
      float: left;
      padding: 0 3px 0px 0px; }

  .menu-btn {
    font-size: 18px; }
  .header-navbar-toggle{
    display: block !important;
  }

  .options {
    position: absolute;
    right: 2%;
    height: 40px;
    font-size: 18px;
    line-height: 44px;
    padding-top: 9px; }
    .options .cart {
      margin-right: 15px; }
    .options .option {
      position: relative;
      width: 20px;
      height: 20px; }

  .header {
    margin-bottom: 0px; }

  .checkout-header .mid-menu {
    width: 100%;
    height: 44px;
    background-color: white;
    padding: 2px 2%;
    color: black;
    border-bottom: 1px solid #e2e2e2; }
  .checkout-header .logo {
    width: 100%; }
  .checkout-header .checkout-status {
    width: 100%;
    text-align: center;
    padding: 20px 0px 10px 0px; }
    .checkout-header .checkout-status .line {
      width: 40%;
      height: 2px;
      line-height: 2px;
      background-color: #e2e2e2;
      vertical-align: middle;
      margin-top: -4px;
      display: inline-block; }
    .checkout-header .checkout-status .circle {
      width: 10px;
      height: 10px;
      background-color: #e2e2e2;
      border-radius: 50%;
      display: inline-block; }
    .checkout-header .checkout-status .circle-container {
      margin-left: 0; }
    .checkout-header .checkout-status .status {
      display: inline-block;
      text-align: left; }
    .checkout-header .checkout-status .shipping {
      margin-left: 31%;
      margin-right: 21%; }
    .checkout-header .checkout-status .active {
      color: #4bc653;
      font-weight: bold; }
    .checkout-header .checkout-status .active-circle {
      background-color: #4bc653; }
    .checkout-header .checkout-status .active-line {
      background-color: #4bc653; } }
.notification-circle {
  width: 12px;
  height: 12px;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  border-radius: 50%;
  background-color: #e34141;
  position: absolute;
  color: white;
  top: -3px;
  right: -7px; }

@media only screen and (min-width: 1050px) {
  .extra-menu.responsive-swiper{
    display: none;
  }
  .home-listing {
    padding-bottom: 0px !important; }

  .listing-arrow {
    margin-top: 100px;
    cursor: pointer; }

  .trust-bar {
    background-color: white;
    border-bottom: 1px solid #e2e2e2;
    height: 40px;
    line-height: 40px; }

  .menu-header {
    width: 18%;
    background-color: #f5f5f5;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    height: 39px;
    padding-left: 1%; }

  .trust-marker {
    font-size: 18px;
    text-align: center; }

  .menu-sub-cat {
    position: absolute;
    left: 100%;
    width: 328%;
    top: 0;
    background-color: white;
    min-height: 400px;
    z-index: 99;
    border-left: 1px solid #e2e2e2; }
    .menu-sub-cat ul {
      list-style-type: none;
      padding: 10px 18px;
      width: 33%;
      display: inline-block;
      vertical-align: top;
      /*float: left; */
    }
      .menu-sub-cat ul li {
        line-height: 2.1;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .menu-sub-cat ul .sub-cat-list-header {
        font-weight: bold;
        padding-left: 0 !important;
        border-bottom: 1px solid #e2e2e2 !important;
        margin-bottom: 8px; }

  .menu-slider-container {
    margin-top: 20px; }
    .menu-slider-container .menu {
      position: relative;
      background-color: white;
      width: 18%;
      height: 400px;
      font-size: 13px; }
      .menu-slider-container .menu.overlay-menu {
        position: absolute;
        left: 30px;
        width: 18%;
        z-index: 200;
      }
      .menu-slider-container .menu .menu-list li {
        height: 36px;
        line-height: 36px;
        cursor: pointer;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff; }
      .menu-slider-container .menu .menu-list li a{
        display: block;
        padding-left: 10%;
      }
        .menu-slider-container .menu .menu-list li:hover, .menu-slider-container .menu .menu-list li:hover a {
/*          border-top: 1px solid #e2e2e2;
          border-bottom: 1px solid #e2e2e2;
*/        width: 100.5%;
          position: relative;
          z-index: 100;
          color: #c74444 !important;
        }
        .menu-slider-container .menu .menu-list li:hover.header{
          color: #fff !important;
        }
        .menu-slider-container .menu .menu-list li:hover.sub-cat-list-header{
          color: #000 !important;
        }
      .menu-slider-container .menu .menu-list .header {
        background-color: #981937;
        color: white;
        letter-spacing: 3px;
        height: 44px;
        padding-left: 5%;
        line-height: 46px;
        margin-bottom: 14px;
        font-size: 0.9vw; }
    .menu-slider-container .slider {
      width: 55%;
      margin-left: 1%;
      margin-right: 1%;
      height: 400px;
      overflow: hidden; }
      .menu-slider-container .slider img {
        height: 400px !important;
        width: auto;
        max-width: none !important; }
    .menu-slider-container .extra-menu {
      width: 25%;
      height: 400px; }
      .menu-slider-container .extra-menu .middle {
        margin-bottom: 0 !important; }
      .menu-slider-container .extra-menu .extra-menu-item {
        height: 130px;
        width: 100%;
        background-color: white;
        margin-bottom: 5px; }
        .menu-slider-container .extra-menu .extra-menu-item .heading {
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 1px; }
        .menu-slider-container .extra-menu .extra-menu-item .text {
          font-size: 10px; }
        .menu-slider-container .extra-menu .extra-menu-item .shop-btn {
          margin-top: 10px;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          -ms-border-radius: 0px;
          border-radius: 0px; }
        .menu-slider-container .extra-menu .extra-menu-item .extra-menu-item-img {
          height: 80%;
          margin-top: 5%;
          float: left; }
        .menu-slider-container .extra-menu .extra-menu-item .extra-menu-item-info {
          float: left;
          margin-top: 5%;
          width: 45%; }
        ..menu-slider-container .extra-menu .extra-menu-item img{
          margin: 0 auto;
        }

  .notification-bar {
    height: 40px;
    line-height: 40px;
    background-color: #e5c4b3; }

  .home-section {
    margin-top: 1%;
    padding: 0px 20px 0px 20px; }

  .section-header {
    height: 50px;
    line-height: 50px; }
    .section-header .heading {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px; }
    .section-header .view-more {
      margin-top: 14px; 
      color: #fff !important;}

  .section-body {
    display: inline-block;
    width: 100%; }

  .box {
    background-color: #fff;
    /*height: 250px;*/
    width: 25%;
    /*margin-right: 1%;*/
    padding: 0 0.5%;
    margin-bottom: 1%;
    float: left;}

  .box img {
    /*height: 100%;*/
    width: 100%;
    max-width: none !important;
  }

  .box-2 {
    width: 75% !important; }

  .box-3 {
    width: 100% !important;
    margin-right: 0%; }

  .box-4 {
    width: 29% !important;
    height: 500px; }

  .box-5 {
    width: 69% !important;
    background-color: white; }

  .box-6 {
    width: 34.5% !important;
    height: 244px; }

  .box-new {
    background-color: #f5f5f5;
    height: 200px;
    margin: 0 0.5% 0.5% 0; }

  .box-7 {
    height: 400px;
    width: 19.2% !important;
    background-color: white;
    border: 1px solid #e2e2e2;
    padding-top: 20px; }
    .box-7 li {
      line-height: 40px; }

  .box-8 {
    height: 400px;
    width: 34.2%; }

  .box-9 {
    height: 193px;
    width: 29.2% !important; }

  .box-10 {
    height: 193px;
    width: 14.2% !important; }

  .home-listing .product-listing {
    width: 19.5%; }
    .slider-img {
      width: 100% !important; }
  }
@media only screen and (max-width: 1050px) {
  .extra-menu.responsive-swiper{
    display: none;
  }
  .slider-img {
    width: 100% !important; }

  .box {
    background-color: #fff;
    width: 25%;
    /*margin-left: 2%;*/
    margin-bottom: 1%;
    float: left;
    padding: 0 0.5%; }

  .box-2{
    width: 100% !important;
    margin-left: 0;
  }

  .box-3 {
    width: 100% !important;
    margin: 0%; }

  .carousel-inner .item .product-listing:nth-child(5) {
    display: none; }

  .trust-section {
    padding: 2%;
    display: block; }

  .extra-menu {
    margin: 10px 2%;
    width: 96%;
    float: none !important; }
    .extra-menu .middle {
      margin-bottom: 0;
      margin-top: 0; }
    .extra-menu .extra-menu-item {
      width: 32.8%;
      margin-left: 1px;
      background-color: white; }

  .hide-tab {
    display: none; } }
@media only screen and (max-width: 768px){
  .extra-menu.extra-menu-web{
    display: none;
  }
  .extra-menu.responsive-swiper{
    display: block;
  }
  .extra-menu-swiper .swiper-container{
    width: 100% !important;
  }
}
@media only screen and (max-width: 760px) {
  .hide-tab {
    display: block; } }
.carousel-control.left, .carousel-control.right {
  background-image: none !important; }

.cb {
  margin: 5px 0;
  padding: 0 5px !important; }
  .cb img {
    margin: auto; }

.block-container {
  width: 100%; }
  .block-container .row {
    margin-left: -5px !important;
    margin-right: -5px !important; }

@media only screen and (min-width: 1050px) {
  .listing-container .listing-page-count {
    font-size: 11px;
    margin-left: 20px;
    color: grey;
    margin-top: 13px;
    line-height: 28px; }
  .listing-container .header {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e2e2e2;
    padding: 0px 15px;
    font-size: 16px; }
  .listing-container .filter {
    width: 20%; }
  .listing-container .filter-section {
    border-bottom: 1px solid #e2e2e2;
    padding: 15px; }
  .listing-container .listing {
    width: 79.5%;
    margin-left: 0.5%; }
  .listing-container .filter-section-options {
    font-size: 12px;
    margin-top: 10px;
    max-height: 180px;
    overflow-y: auto;
    display: block; }
  .listing-container .option-text {
    vertical-align: text-bottom; }
  .listing-container .filter-section-option {
    margin: 3px 0px; }
  .listing-container .sort {
    margin-top: -2px; }
    .listing-container .sort .sort-header {
      font-size: 10px; }
    .listing-container .sort .sort-select {
      font-size: 14px; }
    .listing-container .sort .btn {
      border: 0;
      height: 40px;
      margin-top: -2px; }
      .listing-container .sort .btn:hover, .listing-container .sort .btn:focus {
        background-color: white !important;
        border: 0 !important; }
    .listing-container .sort .dropdown-menu {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px; }
  .listing-container .applied-filters {
    width: 100%;
    background-color: #f4f1eb;
    padding: 6px; }
    .listing-container .applied-filters .applied-filter {
      display: inline-block;
      background-color: #981937;
      font-size: 12px;
      padding: 5px;
      line-height: 22px;
      min-width: 100px;
      margin-right: 5px;
      margin-top: 2px;
      color: #fff;
       }
   .listing-container .applied-filters .applied-filter.clear-all {
     float: right;
     background-color: #fff;
     color: #000;
     font-weight: bold;
      } }
@media only screen and (max-width: 1050px) {
  .page-listing .product-listing {
    background-color: white;
    margin: 0;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    padding-top: 2%; }
    .page-listing .product-listing .product-name {
      width: 100%;
      color: #000; }
    .page-listing .product-listing .product-price {
      color: #000;
    }
    .page-listing .product-listing .discounted-price {
      font-size: 16px; 
      font-weight: 600; }
    .page-listing .product-listing .discount {
      color: green;
    }
  .page-listing .sort-filter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f4f1eb;
    height: 50px;
    font-size: 16px;
    text-align: center;
    z-index: 99;
    -webkit-box-shadow: 0px 3px 4px 4px #e2e2e2;
    -moz-box-shadow: 0px 3px 4px 4px #e2e2e2;
    box-shadow: 0px 3px 4px 4px #e2e2e2; }
    .page-listing .sort-filter .sort, .page-listing .sort-filter .filter {
      width: 48%;
      display: inline-block;
      cursor: pointer; }
    .page-listing .sort-filter .sort-filter-text {
      display: inline-block;
      text-align: left;
      vertical-align: top;
      margin-left: 5px;
      width: 100px; }
      .page-listing .sort-filter .sort-filter-text .sort-filter-status {
        font-size: 12px;
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    .page-listing .sort-filter .sort-filter-icon {
      font-size: 20px;
      margin-top: 15px; }
    .page-listing .sort-filter .separator {
      display: inline-block;
      border-left: 1px solid #888888;
      height: 16.66667px;
      margin-top: 8.33333px; }

  .listing-container .filter {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    height: 100%;
    z-index: 100;
    display: none; }
    .listing-container .filter .header {
      height: 50px;
      line-height: 50px;
      padding: 0 2%;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      border-bottom: 1px solid #e2e2e2;
      background-color: #f5f5f5; }
      .listing-container .filter .header .close {
        margin-top: 14px;
        margin-right: 6px; }
    .listing-container .filter .filter-section {
      padding: 2%;
      float: left;
      width: 100%;
      border-bottom: 1px solid #e2e2e2; }
      .listing-container .filter .filter-section .filter-section-option {
        float: left;
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        cursor: pointer;
        padding-left: 2%; }
      .listing-container .filter .filter-section .head {
        width: 100%;
        float: left;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        font-weight: bold;
        letter-spacing: 1px; }
        .listing-container .filter .filter-section .head .glyphicon {
          margin-top: 10px; }
    .listing-container .filter .apply-filters {
      height: 50px;
      position: fixed;
      bottom: 0;
      background-color: #ffffff;
      border-top: 1px solid #bababa;
      width: 100%;
      z-index: 99;
      display: block;
      -webkit-box-shadow: 0px 2px 2px #e2e2e2;
      -moz-box-shadow: 0px 2px 2px #e2e2e2;
      box-shadow: 0px 2px 2px #e2e2e2; }
      .listing-container .filter .apply-filters .filter-btn {
        width: 47%;
        margin-top: 8px;
        margin-left: 2%; }
  .listing-container .listing-page-count {
    display: none; }
  .listing-container .product-listing .product-info .product-hover-info {
    border-top: 0; } }

.color-box-filter {
  width: 35px;
  height: 35px;
  background-color: #e2e2e2;
  margin: 0px 5px 5px 0px;
  display: inline-block; }


.sub-menu-color > li {
  width: 25px;
  height: 25px;
  cursor: pointer;
  /* background-color: #e2e2e2; */
  margin: 0px 5px 5px 0px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #f4f4f4;
  border-radius: 50%;
  overflow: hidden;
}
.sub-menu-color > li label {
  display: block;
  height: 100% !important;
  width: 100% !important;
  text-align: center;
  cursor: pointer;
  margin: 0;
  /*border-radius: 2px;
  border: inherit !important;*/
}
.sub-menu-color > li label input[type=checkbox] {
  display: none;
}
.sub-menu-color > li label input[type=checkbox]:checked + label {
  background-image: url(http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015/img/check_new.png) !important;
  background-repeat: no-repeat;
  background-position: center center !important;
  width: 25px !important;
  height: 25px !important;
}
.sub-menu-color span {
  display: none;
}


.search-filter {
  margin-top: 10px;
  margin-bottom: 10px; }

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #e2e2e2 !important;
  border-color: #e2e2e2 !important; }

.pagination > li > a, .pagination > li > span {
  color: #333333 !important; }

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important; }

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important; }

.listing-pagination {
  width: 100%; }

.login-container {
  width: 96%;
  max-width: 350px;
  margin-top: 20px;
  padding-bottom: 20px; }
  .login-container .social-login-btn {
    width: 49%;
    float: left; }
    .login-container .social-login-btn:first-of-type {
      margin-right: 2%; }

.register-container {
  display: block; }
  .register-container .email-login .gender {
    display: inline-block;
    width: 100%;
    margin-top: 10px; }
    .register-container .email-login .gender label {
      width: 50%;
      float: left; }

.full {
  display: inline-block;
  width: 100%; }

#loginModal .page-header {
  margin-top: 0px; }
#loginModal .login-container {
  margin-top: 0px;
  -webkit-box-shadow: 0px 0px 0px white;
  -moz-box-shadow: 0px 0px 0px white;
  box-shadow: 0px 0px 0px white; }
#loginModal .modal-body {
  padding: 0px; }
#loginModal .modal-dialog {
  width: 350px; }

@media only screen and (min-width: 1050px) {
  .product-container .contain{
    width: 100%;
    max-width: none;
    position: relative;
    margin: auto;
    height: inherit;
  }
  .product-page .section-heading {
    text-align: left;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold; }
  .product-page .similar-products {
    width: 30%;
    float: left;
    padding: 2%;
    padding-top: 1%;
    border-left: 1px solid #e2e2e2; }
    .product-page .similar-products .product-listing {
      width: 48%;
      margin-bottom: 0; }
      .product-page .similar-products .product-listing .product-name {
        width: 100%;
      }

  .details-wishlist-container {
    margin-top: 8px;
    cursor: pointer; }

    .product-container .share-product {
      font-size: 18px; }
      .product-container .share-product .header {
        font-size: 14px; }
      .product-container .share-product .fa {
        cursor: pointer; }

  .product-thumbnails {
    width: 5%;
    padding-top: 15px; }
    .product-thumbnails img {
      border: 1px solid #e2e2e2;
      margin-bottom: 10px; }

  .product-details-container {
    padding: 2%;
    padding-top: 1%;
    width: 68%;
    margin-right: 2%;
    float: left; }

  .stitch-status {
    padding: 2px 6px;
    border: 1px dashed #474646; }

  .product-img-container {
    padding-top: 0;
    margin-top: 15px;
    margin-left: 10px;
    width: 45%;
    margin-right: 1%;
    position: relative;
    overflow: hidden; }
    .product-img-container .main-product-img {
      margin: auto; }
    .product-img-container .side-img {
      position: absolute;
      width: 20%;
      height: 96%;
      top: 20px; }
    .product-img-container .left-container {
      left: 0; }
    .product-img-container .right-container {
      right: 0; }
    .product-img-container .overlay {
      background-color: rgba(255, 255, 255, 0.8);
      height: 100%;
      width: 100%;
      position: absolute; }
    .product-img-container .left-img {
      height: 100%;
      background: url(../images/product.jpg) no-repeat center; }
    .product-img-container .right-img {
      height: 100%;
      background: url(../images/product.jpg) no-repeat center; }
    .product-img-container .arrow {
      position: absolute;
      top: 48%;
      cursor: pointer; }
    .product-img-container .left-arrow {
      left: 22%; }
    .product-img-container .right-arrow {
      right: 22%; }

  .product-info-container {
    width: 48%;
    padding-top: 0;
    padding-right: 0; }
    .product-info-container .heading {
      font-size: 12px;
      font-weight: bold; }
      .product-info-container .heading .link {
        font-weight: normal;
        color: black; }
    .product-info-container .name h1 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px; }
    .product-info-container .price {
      margin-top: 20px; }
    .product-info-container .discounted-price {
      font-size: 20px;
      margin-top: 10px; }
    .product-info-container .discount {
      font-size: 14px; }
    .product-info-container .actual-price {
      font-size: 14px; }
    .product-info-container .add-to-bag-block {
      background-color: #f4f1eb;
      border: 1px solid #e2e2e2;
      padding: 15px;
      width: 100%;
      display: inline-block;
      margin: 15px 0px; }
    .product-info-container .sizes {
      margin-top: 5px; }
    .product-info-container .stitching {
      margin-top: 5px;
      margin-bottom: 20px; }
      .product-info-container .stitching select {
        height: 40px;
        border: 1px solid #cdcdcd;
        width: 100%;
        color: #606060;
        padding-left: 10px; }
    .product-info-container .size-box {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin-right: 10px;
      border: 2px solid #959595;
      color: #959595; }
      .product-info-container .size-box:hover, .product-info-container .active {
        border: 2px solid #474646;
        cursor: pointer;
        color: #474646; }
      .product-info-container .add-to-bag .btn {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        border-radius: 0px;
        width: 49%;
        height: 40px;
        line-height: 30px;
        margin-right: 2%;
        float: left; }
      .product-info-container .add-to-bag .buy-btn {
        margin-right: 0;
        padding: 0; }
      .product-info-container .add-to-bag .buy-btn p{
        margin: 0;
      }  
    .product-info-container .shipping-cost {
      margin-right: 5%;
      width: 30%;
    }

  .recommendation-box {
    margin-top: 20px;
    padding: 2%;
    padding-top: 1%; }

  .recommendation-box .product-listing {
    width: 17.5%; } }
@media only screen and (max-width: 1050px) {
  .responsive-img-container{
    display: block;
  }
  .product-page .shipping-cost {
    width: 50%;
    float: left;
    margin-top: 10px; }
  .product-page .details-wishlist-container {
    margin-top: 6px; }
  .product-page .description, .product-page .select-size-header, .product-page .size {
    float: left;
    margin-top: 10px; }
  .product-page .size {
    background-color: #f4f1eb;
    border: 1px solid #e2e2e2;
    margin: 2%;
   /* width: auto;*/
    width:97%;
    }
  .product-page .size-box {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #bababa;
    text-align: center;
    margin-right: 10px; }
  .product-page .stitching select {
    width: 100%;
    height: 40px; }
  .product-page .name h1 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 10px; }
  .product-page .discounted-price {
    font-size: 20px;
    margin-top: 10px; }
  .product-page .discount {
    font-size: 14px; }
  .product-page .actual-price {
    font-size: 14px;
    color: #b5b5b5; }
  .product-page .product-buy-btns .purchase {
    width: 47%;
    margin-left: 2%;
    float: left;
    border: 1px solid #e2e2e2;
    padding: 5px;
    height: 36px;
    line-height: 27px;
    margin-top: 6px;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-box-shadow: 1px 1px 2px #e2e2e2;
    -moz-box-shadow: 1px 1px 2px #e2e2e2;
    box-shadow: 1px 1px 2px #e2e2e2; }
  .product-page .product-buy-btns .buy-btn {
    background-color: #d94e4e;
    color: white;
    border: none; }
  .product-page .product-img-container {
    background-color: white;
    width: 95%;
    position: relative;
    overflow: hidden;
    float: none !important;
    margin: 5px auto; }
    .product-page .product-img-container img {
      width: 500px;
      height: auto;
      margin: auto;
      border: none;
      cursor: default;
    }
  .zoomed-image{
    display: none !important;
  }

     }
.wishlist-details-page {
  display: inline-block !important;
  width: 16px;
  vertical-align: top; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f4f1eb !important; }

@media only screen and (min-width: 1050px) {
  .profile-sidebar {
    width: 19%;
    margin-right: 1%;
    float: left; }

  .profile-content {
    width: 80%;
    padding: 15px;
    float: left;
    min-height: 292px; }
    .profile-content .header {
      border-bottom: 1px solid #e2e2e2;
      font-weight: bold;
      padding-bottom: 5px;
      margin-bottom: 10px; }
    .profile-content .body {
      margin-bottom: 10px; }
    .profile-content .order-header {
      border-bottom: 1px solid #e2e2e2;
      margin-bottom: 10px; }
    .profile-content .review-item {
      padding: 5px 15px 15px 15px;
      border: 1px solid #e2e2e2;
      float: left;
      margin-top: 15px;
      background-color: white; }
      .profile-content .review-item .review-item-img {
        padding: 0; }
    .profile-content .personal-info .body {
      width: 30%; }

  .sidebar-list-menu {
    padding-left: 0; }
    .sidebar-list-menu li {
      list-style-type: none;
      line-height: 40px;
      font-size: 12px;
      cursor: pointer;
      padding-left: 15px; }
    .sidebar-list-menu .heading {
      border-bottom: 1px solid #e2e2e2;
      height: 40px;
      line-height: 42px;
      font-size: 14px; } }
@media only screen and (max-width: 1050px) {
  .profile-page .page-heading {
    text-align: center; }
  .profile-page .profile-content {
    display: none; }
  .profile-page .sidebar-list-menu {
    padding-left: 0;
    margin-top: 0; }
  .profile-page .profile-sidebar li {
    padding: 2%; }
  .profile-page .profile-sidebar .heading {
    display: block;
    height: 50px;
    line-height: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid #e2e2e2; }
    .profile-page .profile-sidebar .heading .glyphicon {
      margin-top: 10px; }
  .profile-page .profile-sidebar .log-out-btn {
    margin: 0 2% 2% 2%; } }
.static-page-content {
  padding: 15px; }
.static-page-heading{
  padding-top: 1px;
}
.thanks-body {
  margin-top: 20px; }
  .thanks-body .page-header {
    width: 100%;
    margin-top: 0; }
  .thanks-body .review-item {
    background-color: #f5f5f5;
    padding: 10px;
    margin: auto;
    width: 40%;
    margin-bottom: 10px;
    border: 1px solid #e2e2e2; }

@media only screen and (max-width: 1050px) {
  .thanks-body {
    display: inline-block; }
    .thanks-body .review-item {
      margin: auto;
      width: 96%; } }
@media only screen and (max-width: 1050px) {
  .wishlist-page .page-heading {
    text-align: center; } }
.btn-move-to-bag {
  margin-top: 10px;
  width: 70%; }
@media only screen and (max-width: 650px) {
  .box{
    width: 50%;
  }
}
.loading{
  background-color: #f3f3f3;
  height: 250px !important;
  opacity: 0;
  transition: opacity 1s;
}
.loaded{
  animation: fadein .5s;
  opacity: 1;
  height: auto !important;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}