.cart-count {
  position: absolute;
  top: -10px;
  right: -6px;
  background-color: #ff0342;
  border-radius: 50%;
  width: 12px;
  height: 18px;
  font-size: 10px;
  padding: 3px;
  display: inline-block;
}
