<div class="content">
	<div class="menu-slider-container occupy">
		<div class="contain">
			<div class="menu pull-left bg-white hide-sm">
				<ul class="list-unstyled menu-list">
					<li class="header"><span class="glyphicon glyphicon-th-list"></span> <strong>SHOP BY CATEGORY</strong></li>
					<li>Casual Wear</li>
					<li>Sarees</li>
					<li>Salwar Suits</li>
					<li>Lehenga</li>
					<li>Accessories</li>
					<li>Men's Fashion</li>
					<li>Beauty and Lifestyle</li>
					<li>Food and Health</li>
					<li>Bed and Bath</li>
				</ul>
				<div class="menu-sub-cat hide">
					<ul class="sub-cat-list">
						<li class="sub-cat-list-item sub-cat-list-header">Kurtis</li>
						<li class="sub-cat-list-item">Casual Kurtis</li>
						<li class="sub-cat-list-item">Long Kurti</li>
						<li class="sub-cat-list-item">Short Kurti</li>
						<li class="sub-cat-list-item">Straight Kurti</li>
						<li class="sub-cat-list-item">A Line Kurtis</li>
					</ul>
					<ul class="sub-cat-list">
						<li class="sub-cat-list-item sub-cat-list-header">Kurtis</li>
						<li class="sub-cat-list-item">Casual Kurtis</li>
						<li class="sub-cat-list-item">Long Kurti</li>
						<li class="sub-cat-list-item">Short Kurti</li>
						<li class="sub-cat-list-item">Straight Kurti</li>
						<li class="sub-cat-list-item">A Line Kurtis</li>
					</ul>
					<ul class="sub-cat-list">
						<li class="sub-cat-list-item sub-cat-list-header">Kurtis</li>
						<li class="sub-cat-list-item">Casual Kurtis</li>
						<li class="sub-cat-list-item">Long Kurti</li>
						<li class="sub-cat-list-item">Short Kurti</li>
						<li class="sub-cat-list-item">Straight Kurti</li>
						<li class="sub-cat-list-item">A Line Kurtis</li>
					</ul>
					<ul class="sub-cat-list">
						<li class="sub-cat-list-item sub-cat-list-header">Kurtis</li>
						<li class="sub-cat-list-item">Casual Kurtis</li>
						<li class="sub-cat-list-item">Long Kurti</li>
						<li class="sub-cat-list-item">Short Kurti</li>
						<li class="sub-cat-list-item">Straight Kurti</li>
						<li class="sub-cat-list-item">A Line Kurtis</li>
					</ul>
					<ul class="sub-cat-list">
						<li class="sub-cat-list-item sub-cat-list-header">Kurtis</li>
						<li class="sub-cat-list-item">Casual Kurtis</li>
						<li class="sub-cat-list-item">Long Kurti</li>
						<li class="sub-cat-list-item">Short Kurti</li>
						<li class="sub-cat-list-item">Straight Kurti</li>
						<li class="sub-cat-list-item">A Line Kurtis</li>
					</ul>
				</div>
			</div>
			<div class="slider pull-left bg-white">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="images/slider1.png" class="slider-img" alt="...">
						</div>
						<div class="item">
							<img src="images/slider2.png" class="slider-img" alt="...">
						</div>
					</div>

					<!-- Controls
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>-->
				</div>
				<!--img src="images/slider1.png" class="slider-img"-->
			</div>
			<div class="extra-menu pull-left bg-white">
				<div class="extra-menu-item pull-left">

				</div>
				<div class="extra-menu-item pull-left middle">

				</div>
				<div class="extra-menu-item pull-left">

				</div>
			</div>
		</div>
	</div>
	<div class="occupy mob-section text-center mob-bg-white trust-section hide-lg">
		<img src="images/shield_icon.png">
		<span><strong>100% Buyer Protection</strong> <span class="dark-link">Learn more</span></span>
	</div>
	<div class="occupy mob-section">
		<div class="contain bg-white mob-bg-white home-section">
			<div class="section-header mob-section-heading">
				<span class="heading pull-left"><img src="images/ethnic-1.png"> Sarees</span>
				<button class="btn btn-brand btn-xs view-more pull-right">View more</button>
			</div>
			<div class="section-body mob-section-body">
				<div class="box box-1 hide-sm"></div>
				<div class="box box-2 last hide-sm"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box last"></div>
			</div>
		</div>
	</div>
	<div class="occupy mob-section">
		<div class="contain bg-white mob-bg-white home-section">
			<div class="section-header mob-section-heading">
				<span class="heading pull-left"><img src="images/ethnic-1.png"> Header</span>
				<button class="btn btn-brand btn-xs view-more pull-right">View more</button>
			</div>
			<div class="section-body mob-section-body">
				<div class="box box-3"></div>
			</div>
		</div>
	</div>
	<div class="occupy mob-section">
		<div class="contain bg-white mob-bg-white home-section">
			<div class="section-header mob-section-heading">
				<span class="heading pull-left"><img src="images/ethnic-1.png"> Blog</span>
				<button class="btn btn-brand btn-xs view-more pull-right">View more</button>
			</div>
			<div class="section-body">
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box last"></div>
			</div>
		</div>
	</div>
	<div class="occupy mob-section">
		<div class="contain bg-white mob-bg-white home-section">
			<div class="section-header mob-section-heading">
				<span class="heading pull-left"><img src="images/ethnic-1.png"> Categories</span>
				<button class="btn btn-brand btn-xs view-more pull-right">View more</button>
			</div>
			<div class="section-body">
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box last"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box last"></div>
			</div>
		</div>
	</div>
	<div class="occupy mob-section">
		<div class="contain bg-white mob-bg-white home-section home-listing">
			<div class="section-header mob-section-heading">
				<span class="heading pull-left"><img src="images/ethnic-1.png"> Listings</span>
				<button class="btn btn-brand btn-xs view-more pull-right">View more</button>
			</div>
			<div class="section-body text-center page-listing">
				<img src="images/left-arrow.png" class="pull-left listing-arrow hide-sm">
				<div class="product-listing">
					<span class="glyphicon glyphicon-heart-empty product-wishlist"></span>
					<img src="images/product.jpg" class="img-responsive">
					<div class="product-info">
						<div class="product-name">Black Zari Work Cotton Saree</div>
						<div class="product-price">
							<span class="discounted-price">$80</span>
							&nbsp;<span class="actual-price"><s>$100</s></span>
							&nbsp;<span class="discount">20%</span>
						</div>
					</div>
				</div>
				<div class="product-listing">
					<span class="glyphicon glyphicon-heart-empty product-wishlist"></span>
					<img src="images/product.jpg" class="img-responsive">
					<div class="product-info">
						<div class="product-name">Black Zari Work Cotton Saree</div>
						<div class="product-price">
							<span class="discounted-price">$80</span>
							&nbsp;<span class="actual-price"><s>$100</s></span>
							&nbsp;<span class="discount">20%</span>
						</div>
					</div>
				</div>
				<div class="product-listing">
					<span class="glyphicon glyphicon-heart-empty product-wishlist"></span>
					<img src="images/product.jpg" class="img-responsive">
					<div class="product-info">
						<div class="product-name">Black Zari Work Cotton Saree</div>
						<div class="product-price">
							<span class="discounted-price">$80</span>
							&nbsp;<span class="actual-price"><s>$100</s></span>
							&nbsp;<span class="discount">20%</span>
						</div>
					</div>
				</div>
				<div class="product-listing">
					<span class="glyphicon glyphicon-heart-empty product-wishlist"></span>
					<img src="images/product.jpg" class="img-responsive">
					<div class="product-info">
						<div class="product-name">Black Zari Work Cotton Saree</div>
						<div class="product-price">
							<span class="discounted-price">$80</span>
							&nbsp;<span class="actual-price"><s>$100</s></span>
							&nbsp;<span class="discount">20%</span>
						</div>
					</div>
				</div>
				<img src="images/right-arrow.png" class="pull-right listing-arrow hide-sm">
			</div>
		</div>
	</div>
	<div class="occupy mob-section">
		<div class="contain bg-white mob-bg-white home-section">
			<div class="section-header mob-section-heading">
				<span class="heading pull-left"><img src="images/ethnic-1.png"> Testimonials</span>
				<button class="btn btn-brand btn-xs view-more pull-right">View more</button>
			</div><br><br>
			<div class="section-body text-center mob-section-body">
				<i class="font-large">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt <br>ut labore et dolore magna aliqua"</i><br><br><div>- Irure Dolor</div>
			</div><br><br>
		</div>
	</div>
	<div>TEST</div>
	<div #content></div>
	<div class="occupy mob-section">
		<div class="contain bg-white mob-bg-white home-section">
			<div class="section-header mob-section-heading">
				<span class="heading pull-left"><img src="images/ethnic-1.png"> Craftsvilla - An Ethnic Destination</span>
			</div>
			<div class="section-body mob-section-body">
				<div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			</div>
		</div>
	</div>
</div>