<span id="home-page">
	<!--SECTION - SLIDER........................................................... -->
	<div class="section-slider">
		<img src="images/slider1.png" class="img-responsive">
	</div>

  <!--SECTION - BUYER PROTECTION................................ ........................... -->
	<div class="section-buyer-protection">
		<div class="site-container section-box buyer-protection-box text-center">
			<img src="images/shield_icon.png"><span class="buyer-protection-text"> 100% BUYER PROTECTION</span><span> Learn more > </span>
		</div>
	</div>

  <!--SECTION - CATEGORIES........................................................... -->

  <!--SECTION - LISTING........................................................... -->
<!-- <cvi-single-row [widgetData]="sampleData"></cvi-single-row>
	<cvi-two-column [widgetData]="twoColumnData"></cvi-two-column> -->
  <!--SECTION - OFFERS........................................................... -->
	<div class="section-offers">
		<img src="images/slider2.png" class="offers-img img-responsive">
	</div>

  <!--SECTION - COLLECTIONS........................................................... -->
	<div class="section-collections">
		<div class="collection-box inline"><img src="images/collection1.jpeg" class="img-responsive"></div><div class="collection-box inline"><img src="images/collection2.jpeg" class="img-responsive"></div><div class="collection-box inline"><img src="images/collection2.jpeg" class="img-responsive"></div><div class="collection-box inline"><img src="images/collection2.jpeg" class="img-responsive"></div>
	</div>

  <!--SECTION - LISTING........................................................... -->
	<div class="section-listing">
		<div class="site-container section-box">
			<div class="box-header">
				<span class="pull-left box-header-text"><strong>TRENDING</strong></span>
			</div>
			<div class="listing-box-body">
				<div class="listing-product left-listing">
					<img src="images/category3.jpg" class="listing-product-img img-responsive">
					<div class="listing-product-name">Black Color Goergette Silk..</div>
					<div class="listing-product-price-container">
						<span class="discount-price">$80</span>
						<span class="actual-price"><s>$100</s></span>
						<span class="discount text-uppercase text-success"><strong>20% Off</strong></span>
					</div>
				</div>
				<div class="listing-product">
					<img src="images/category3.jpg" class="listing-product-img img-responsive">
					<div class="listing-product-name">Black Color Goergette Silk..</div>
					<div class="listing-product-price-container">
						<span class="discount-price">$80</span>
						<span class="actual-price"><s>$100</s></span>
						<span class="discount text-uppercase text-success"><strong>20% Off</strong></span>
					</div>
				</div>
				<div class="listing-product left-listing">
					<img src="images/category3.jpg" class="listing-product-img img-responsive">
					<div class="listing-product-name">Black Color Goergette Silk..</div>
					<div class="listing-product-price-container">
						<span class="discount-price">$80</span>
						<span class="actual-price"><s>$100</s></span>
						<span class="discount text-uppercase text-success"><strong>20% Off</strong></span>
					</div>
				</div>
				<div class="listing-product">
					<img src="images/category3.jpg" class="listing-product-img img-responsive">
					<div class="listing-product-name">Black Color Goergette Silk..</div>
					<div class="listing-product-price-container">
						<span class="discount-price">$80</span>
						<span class="actual-price"><s>$100</s></span>
						<span class="discount text-uppercase text-success"><strong>20% Off</strong></span>
					</div>
				</div>
			</div>
			<div class="listing-footer text-uppercase text-right pull-left">
				<span><strong>View all ></strong></span>
			</div>
		</div>
	</div>

  <!--SECTION - LISTING - Horizontal........................................................... -->
	<div class="section-listing-horiz">
		<div class="site-container section-box">
			<div class="box-header">
				<span class="pull-left box-header-text"><strong>LEHENGAS</strong></span>
			</div>
			<div class="listing-box-body">
				<div class="listing-horiz-item">
					<img src="images/category3.jpg" class="listing-horiz-product-img">
					<div class="listing-product-info">
						<div class="listing-product-name">Black Color Goergette Silk..</div>
						<div class="listing-product-price-container">
							<span class="discount-price">$80</span>
							<span class="actual-price"><s>$100</s></span>
							<span class="discount text-uppercase text-success"><strong>20% Off</strong></span>
						</div>
					</div>
				</div>
				<div class="listing-horiz-item">
					<img src="images/category3.jpg" class="listing-horiz-product-img">
					<div class="listing-product-info">
						<div class="listing-product-name">Black Color Goergette Silk..</div>
						<div class="listing-product-price-container">
							<span class="discount-price">$80</span>
							<span class="actual-price"><s>$100</s></span>
							<span class="discount text-uppercase text-success"><strong>20% Off</strong></span>
						</div>
					</div>
				</div>
				<div class="listing-horiz-item">
					<img src="images/category3.jpg" class="listing-horiz-product-img">
					<div class="listing-product-info">
						<div class="listing-product-name">Black Color Goergette Silk..</div>
						<div class="listing-product-price-container">
							<span class="discount-price">$80</span>
							<span class="actual-price"><s>$100</s></span>
							<span class="discount text-uppercase text-success"><strong>20% Off</strong></span>
						</div>
					</div>
				</div>
			</div>
			<div class="listing-footer text-uppercase text-right pull-left">
				<span><strong>View all ></strong></span>
			</div>
		</div>
	</div>

  <!--SECTION - DESCRIPTION........................................................... -->
	<div class="section-description">
		<div class="site-container section-box description-box">
			<h5><strong>Craftsvilla - your destination for all things ethnic</strong></h5>
			<span>
				<p>
					Craftsvilla celebrates everything ethnic and is designed to capture the essence of India by connecting local artisans and designers directly to global customers. We believe in catering to the diverse preferences of our customers and ensuring a great online shopping experience. Craftsvilla.com helps customers discover and buy products that are not easily available to them today. We, at Craftsvilla — the largest online ethnic store, take pride in our roots. So, if you are looking for anything Indian that is top quality, yet affordable, Craftsvilla.com is the best online marketplace for you to shop from. We cater to the masses with an enviable collection of ethnic products including Sarees, Lehengas, Salwar Suits, Men’s Kurtas, Kurtis, Jewellery and Accessories.
				</p>
				<p>
					Staying true to our commitment of taking Indian ethnic fashion to every corner of the world, we have launched the Craftsvilla shopping app for those who love to shop on the go! Craftsvilla.com is not just about a memorable shopping experience, it also offers customer-friendly services so that you can enjoy the best deals and awesome discounts on all products. Customer satisfaction is something we swear by and that is why we offer free shipping and CoD facilities on most of our products. We also ensure 100% security on payment gateways. We make online shopping a dream with multiple payment options, timely delivery and a prompt customer care service. We also offer reverse pick-up services and easy refund policies. So, hangout on Craftsvilla.com, your one-stop destination for ethnic shopping in India.
				</p>
			</span>
		</div>
	</div>
</span>
