<div class="content">
  <div class="menu-slider-container occupy clearfix">
    <div class="contain">
      <cvi-mega-menu></cvi-mega-menu>
      <cvi-hero-banner [header]="heroBannerData.title" [dataItems]="heroBannerData.data" class="home-carousel" ></cvi-hero-banner>
      <cvi-extra-menu [header]="extraMenuData.title" [dataItems]="extraMenuData.data?.slice(0,3)" ></cvi-extra-menu>
    </div>
  </div>
	<div class="occupy mob-section text-center mob-bg-white trust-section hide-lg">
		<img src="images/shield_icon.png">
		<span><strong>100% Buyer Protection</strong> <span class="dark-link">Learn more</span></span>
	</div>
	<div #content></div>
	<div class="occupy mob-section">
		<div class="contain bg-white mob-bg-white home-section">
			<div class="section-header mob-section-heading">
				<span class="heading pull-left"><img src="images/ethnic-1.png"> Craftsvilla - An Ethnic Destination</span>
			</div>
			<div class="section-body mob-section-body">
				<div class="">
          <p>
            Craftsvilla celebrates everything ethnic and is designed to capture the essence of India by connecting local artisans and designers directly to global customers.
            We believe in catering to the diverse preferences of our customers and ensuring a great online shopping experience.
            Craftsvilla.com helps customers discover and buy products that are not easily available to them today.
            We, at Craftsvilla — the largest online ethnic store, take pride in our roots.
            So, if you are looking for anything Indian that is top quality, yet affordable, Craftsvilla.com is the best online marketplace for you to shop from.
            We cater to the masses with an enviable collection of ethnic products including Sarees, Lehengas, Salwar Suits, Men’s Kurtas, Kurtis, Jewellery and Accessories.
          </p>
          <p>
            Staying true to our commitment of taking Indian ethnic fashion to every corner of the world, we have launched the Craftsvilla shopping app for those who love to shop on the go!
            Craftsvilla.com is not just about a memorable shopping experience, it also offers customer-friendly services so that you can enjoy the best deals and awesome discounts on all products.
            Customer satisfaction is something we swear by and that is why we offer free shipping and CoD facilities on most of our products. We also ensure 100% security on payment gateways.
            We make online shopping a dream with multiple payment options, timely delivery and a prompt customer care service. We also offer reverse pick-up services and easy refund policies.
            So, hangout on Craftsvilla.com, your one-stop destination for ethnic shopping in India.
          </p>
        </div>
			</div>
		</div>
	</div>
</div>
