<div class="occupy mob-section">
  <div class="contain bg-white mob-bg-white home-section home-listing clearfix">
    <div class="section-header mob-section-heading">
      <span class="heading pull-left"><img src="http://assetsintl.craftsvilla.com/cvintlfe/assets/images/ethnic-1.png"> {{ header }}</span>
      <a class="btn btn-brand btn-xs view-more pull-right" routerLink="{{viewMoreUrl}}" *ngIf="viewMoreUrl">View more</a>
    </div>
    <div class="section-body text-center page-listing clearfix pull-left">
      <div class="col-md-12 product-slider-container" #productSliderContainer>
        <div class="product-slider-wrapper clearfix" #productSlider [style.width]="sliderWidth">
          <div class="product-slider-slide col-sm-3 col-xs-6" #productSlide [style.width]="slideWidth" *ngFor="let product of dataItems; let i = index "[ngClass]="{'hidden': ((i > 3) && isResponsive)}">
            <!-- <span class="glyphicon glyphicon-heart-empty product-wishlist"></span>  -->
            <a routerLink="/shop/{{product.slug}}/{{product.productId}}" (click)="feedClick(product, i+1)">
              <img [lazyLoad]="product.imgUrl" class="img-responsive" alt="{{ product.productName }}" src="http://res.cloudinary.com/craftsvilla/image/upload/evsfw5eqlqwwiabgtanc">
              <div class="product-info">
                <div class="product-name" *ngIf="product.productName">{{ product.productName | truncate : 35 }}</div>
                <div class="product-name" *ngIf="product.title">{{ product.title | truncate : 35 }}</div>
                <div class="product-price">
                  <span class="discounted-price">${{ product.discountedPrice  }}</span>
                  <span class="actual-price" *ngIf="product.discountPercentage !== 0"><s>${{ product.regularPrice  }}</s></span>
                  <span class="discount" *ngIf="product.discountPercentage !== 0">{{ product.discountPercentage | number:'1.0-0' }}% off</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="product-slider-next visible-md visible-lg" (click)="slide('next', $event)"></div>
      <div class="product-slider-prev visible-md visible-lg" (click)="slide('prev', $event)"></div>
    </div>
  </div>
</div>
