<div class="content wishlist-page">
  <div class="contain">
    <div class="page-heading text-center">
      <h1>Order Tracking</h1>
    </div>
    <div class="page-content bg-white static-page-content">
      <p>
        <u>Where is my order?</u><br> You must have received an order confirmation mail on your registered email ID. The email contains your order ID. Please click here and enter your order ID to know the current status of your order.
        <br><br>

        <u>Some shipments in my order have still not been delivered.</u><br> You must have received an order confirmation mail on your registered email ID. The email contains your order ID. Please click here and enter your order ID to know the current
        status of your order.
        <br><br>

        <u>Can I receive my order faster?</u><br> Currently, we do not offer the facility of faster delivery. Our delivery partner will attempt delivery of your product on the date mentioned against your order.
        <br><br>

        <u>Can you deliver my order at a specific time and date?</u><br> Currently, we do not offer the facility of faster delivery. Our delivery partner will attempt delivery of your product on the date mentioned against your order.
        <br><br>

        <u>I want to cancel my order.</u><br> You can cancel the order only if the order had not been dispatched yet.
        <br><br>

        <u>I am unable to cancel my order</u><br> We’re sorry! Since your product is already shipped, we are unable to cancel your order. However, you may request a return of the item after it is delivered.
        <br><br>

        <u>I want to return an item.</u><br> Please mail us a picture of the product and your reason for return. Our verification team will verify the product quality with you and help you through the process.
        <br><br>

        <u>My order is at the customs and I am being asked to pay Customs Clearance</u><br> Dear Customer, as mentioned on our website. Craftsvilla as a policy does not pay the customs clearance charge and that is to be paid by the customers. Hence, you
        will have to pay the clearance charges.
        <br><br>

        <u>I am unable to create a return request.</u><br> We’re sorry! We accept returns only within 7 days of delivering your product.
        <br><br>

        <u>When will my return item be picked up?</u><br> After placing a return request, our support team will update you on the same..
        <br><br>

        <u>It's been more than 4 days and my return item is still not picked up.</u><br> We’re sorry! We have registered your complaint and are looking into it. We will arrange for a pick-up of your item(s) at the earliest. When a customer clicks on this
        option, send a report internally every 24 hours with the following details: customer name, phone number, email address, tracking number and delivery partner. An internal team will look into these reports and expedite pick-up after following up
        with the logistic partners.
        <br><br>

        <u>I self shipped my return item but haven't received my refund yet.</u><br> We’re Sorry! Please ensure that you have submitted your bank and courier details against the returned shipment on My Orders. We will initiate the refund within 24 hours
        after you add the courier details. Post that, your bank may take 5-7 days to credit the refund amount to your account.
        <br><br> In am exceptional case that it is beyond the above, please get in touch with us through email or call and we will resolve your issue at the earliest. Disclaimer: In case you fail to update the bank account details within 10 days, we will
        issue a Craftsvilla voucher worth the order amount to you.
        <br><br>

        <u>My return was picked up but I haven't received my refund yet.</u><br> We’re Sorry! Please ensure that you have submitted your bank details against the returned shipment on My Orders. We will initiate the refund within 24 hours after your item
        has been picked up and bank details are updated. In case it is beyond the above, please get in touch with us through email or call and we will resolve your issue. Disclaimer: In case you fail to update the bank account details within 10 days,
        we will issue a voucher worth the order amount to you.
        <br><br>

        <u>My order failed at payment but amount got debited.</u><br> Don’t worry! If an amount is debited from your account after a payment failure, it will be credited back within 7-10 business days, after we receive a confirmation from the bank.
        <br><br>

        <u>My payment was debited multiple times.</u><br> Don’t worry! If an amount is debited from your account multiple times, it will be credited back within 7-10 business days, after we receive a confirmation from the bank.
        <br><br>

        <u>I am not able to place an order.</u><br> We’re sorry! This could sometimes happen because of intermittent internet connection or bank issues. If your payment still fails, you could write to us or call us at the below mentioned options:
        <br><br>

        <u>Email</u>: <a href="mailto:hellow@craftsvilla.com"><u>hello@craftsvilla.com</u></a>
      </p>
    </div>
  </div>
</div>
