<div class="occupy mob-section">
  <div class="contain bg-white mob-bg-white home-section home-listing clearfix">
    <div class="section-header mob-section-heading">
      <span class="heading pull-left"><img src="../../../../images//ethnic-1.png"> {{ header }}</span>
      <button class="btn btn-brand btn-xs view-more pull-right">View more</button>
    </div>
    <div class="section-body text-center page-listing">
      <div class="col-md-12">
        <div [attr.id]="getSliderId()" class="carousel slide">
          <ol class="carousel-indicators">
            <li *ngFor="let product of dataItems; let i = index"
                [attr.data-target]="getIdTarget()" [attr.data-slide-to]="i" [class.active]="i == 0"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item" *ngFor="let productArray of productDblArray; let i = index"
                  [class.active]="i == 0">
              <div class="product-listing col-sm-3 col-xs-6"
                *ngFor="let product of productArray; let i = index">
                <!-- <span class="glyphicon glyphicon-heart-empty product-wishlist"></span> -->
                <a routerLink="/product/{{product.productId}}" (click)="feedClick(product, i+1)">
                  <img [src]="product.imgUrl" class="img-responsive">
                  <div class="product-info">
                    <div class="product-name">{{ product.productName }}</div>
                    <div class="product-price">
                      <span class="discounted-price">${{ product.discountedPrice  }}</span>
                      &nbsp;<span class="actual-price"><s>${{ product.regularPrice  }}</s></span>
                      &nbsp;<span class="discount">{{ product.discountPercentage | number:'2.0-2' }}%</span>
                    </div>
                  </div>
                </a>
              </div>
            </div><!--.item-->
          </div><!--.carousel-inner-->
          <a data-slide="prev" [href]="getIdTarget()" class="left carousel-control product-slider-prev">
            <img src="../../../../images//left-arrow.png" class="pull-left listing-arrow hide-sm">
          </a>
          <a data-slide="next" [href]="getIdTarget()" class="right carousel-control product-slider-next">
            <img src="../../../../images//right-arrow.png" class="pull-right listing-arrow hide-sm">
          </a>
        </div><!--.Carousel-->
      </div>
    </div>
  </div>
</div>
