<div class="section-categories">
  <div class="site-container section-box categories-box">
    <div class="box-header">
      <span class="pull-left box-header-text"><strong>CATEGORIES</strong></span>
    </div>
    <div class="box-body">
      <div class="single-category text-center">
        <img src="images/category1.jpg" class="single-category-image">
        <span>Lehengas</span>
      </div>
      <div class="single-category text-center">
        <img src="images/category1.jpg" class="single-category-image">
        <span>Lehengas</span>
      </div>
      <div class="single-category text-center">
        <img src="images/category1.jpg" class="single-category-image">
        <span>Lehengas</span>
      </div>
      <div class="single-category text-center">
        <img src="images/view_all_icon.png" class="single-category-image">
        <span>View all</span>
      </div>
    </div>
  </div>
</div>
